$blue: #1e90e5;
$white: #fff;
$black: #222;
@mixin bgImg($url, $repeat :no-repeat, $pos : center) {
    background-image: url("../images/#{$url}.png");
    background-repeat: $repeat;
    background-position: $pos;
}
@mixin clear () {
    content: "";
    display: block;
    clear: both;
}
@mixin bigRoundbtn($url) {
    width: 77px;
    height: 77px;
    background: url("../images/#{$url}_off.png") no-repeat center;

    &.active {
        background: url("../images/#{$url}_on.png") no-repeat center;
    }
}
@mixin btnEdit($url) {
    width: 34px;
    height: 34px;
    background: url("../images/#{$url}.png") no-repeat center;
}
@mixin textHidden() {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}

.base-box {
    position: relative;
    padding: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #e4e8eb;
    border-radius: 6px;

    .desc {
        font-size: 14px;
        line-height: 16px;
        color: $black;

        &.type1 {
            position: relative;
            padding-right: 130px;
            line-height: 40px;

            .btn {
                position: absolute;
                right: 0;
                top: 50%;
                margin-top: -20px;
            }
        }

        & + .textarea {
            margin-top: 14px;
        }
    }

    & + .btn_center {
        margin-top: 20px;
    }

    & + .table-wrap {
        margin-top: 20px;
    }

    & + .sub-tit {
        margin-top: 20px;
    }

    & + .base-box {
        margin-top: 20px;
    }

    & + .data-view {
        margin-top: 20px;
    }
}

input[type="text"],
input[type="password"],
 {
    &:focus {
        border-color: $blue;
    }

    &::placeholder {
        font-size: 14px;
        color: #a9a9a9;
    }

    &.edit {
        width: 100%;
        height: 100%;
        border-radius: 4px;
        padding: 0 10px;

        &:focus {
            border: 1px solid $blue;
            text-align: left;
        }
    }

    &.disabled {
        background-color: #f7f7f7;
    }
}

input.input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    text-align: left;
    font-size: 14px;
    background-color: #fff;
    line-height: 40px;
    cursor: text;
}

.select {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    border: 1px solid #dddfe1;
    text-align: left;
    font-size: 14px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #fff;
    z-index: 10;
    box-shadow: 1px 1px 3px #edeff0;

    select {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }

    .select-list {
        display: none;
        position: absolute;
        left: 0;
        top: 46px;
        width: 100%;
        max-height: 160px;
        padding: 0 16px;
        z-index: 10;
        border: 1px solid #dddfe1;
        text-align: left;
        font-size: 14px;
        border-radius: 5px;
        background-color: #fff;
        overflow-x: auto;

        li {
            border: none;
        }
    }

    .selected {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0 16px;
        z-index: 10;
        @include bgImg(arrow/arrow_down);
        background-position: right 24px center;

        &.active {
            color: #222;
        }
    }

    &.on {
        .select-list {
            display: block;
        }
    }

    &.on {
        z-index: 20;
    }
}

.textarea {
    width: 100%;
    height: 100%;
    padding: 19px;
    border-radius: 5px;
    border: 1px solid #dddfe1;
    font-size: 14px;
    color: $black;
    box-sizing: border-box;
}
.btn {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 38px;
    font-size: 16px;
    border-radius: 20px;
    color: $blue;
    border: 1px solid $blue;
    background-color: $white;

    &.btn-auto {
        width: auto;
        padding: 0 16px;
    }

    &.active {
        background-color: $blue;
        color: $white;
    }

    &.large {
        width: 130px;
    }

    span {
        padding-left: 30px;
        @each $obj in start setting stop {
            &.#{$obj} {
                @include bgImg(bg/bg_#{$obj}, no-repeat, left center);
            }
        }
    }
}

.big_mic {
    @include bigRoundbtn(btn/btn_big_mic);
}

.big_down {
    @include bigRoundbtn(btn/btn_big_down);
}

.big_remove {
    @include bigRoundbtn(btn/btn_big_remove);
}

.btn_save {
    @include btnEdit(btn/btn_save);

    &:hover {
        @include btnEdit(btn/btn_save_on);
    }
}

.btn_view {
    @include btnEdit(btn/btn_view);

    &:hover {
        @include btnEdit(btn/btn_view_on);
    }
}

.btn_result {
    @include btnEdit(btn/btn_result);
}
@each $obj in service, menu {
    .btn_box {
        width: 140px;
        height: 36px;
        color: $blue;
        border: 1px solid $blue;
        font-size: 14px;
        line-height: 34px;
        border-radius: 6px;

        span {
            position: relative;
            padding-left: 24px;

            &:after {
                display: block;
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 20px;
                height: 20px;
                margin-top: -10px;
            }

            &.#{$obj} {
                &::after {
                    @include bgImg(btn/btn_#{$obj});
                }
            }
        }
    }
}

.btn_center {
    position: relative;
    min-height: 40px;
    margin-top: 20px;
    text-align: center;

    button {
        & + button {
            margin-left: 6px;
        }
    }

    .btn {
        &+.btn {
            margin-left: 6px;
        }
    }

    .pos-right {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.btn-id {
    width: 150px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    background-color: $blue;
    color: $white;
    border-radius: 6px;

    &+.desc {
        margin-left: 6px;
    }
}

.btn-userAdd,
.btn-userRemove {
    width: 100px;
    height: 40px;
    border: 1px solid $blue;
    border-radius: 5px;
    background-color: $white;

    span {
        position: relative;
        padding-left: 24px;
        font-size: 16px;
        line-height: 30px;
        color: #1e90e5;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 17px;
            height: 17px;
            margin-top: -8.5px;
            @include bgImg(bg/bg_user_add);
        }
    }
}

.btn-userRemove {
    border-color: #a4a4a4;

    span {
        color: #585858;

        &::after {
            @include bgImg(bg/bg_user_remove);
        }
    }

    &+.btn-userAdd {
        margin-left: 4px;
    }
}
//calendar

.calendar-set {
    max-width: 320px;

    &::after {
        @include clear;
    }

    .calendar {
        float: left;
        width: calc(50% - 10px);

        &+.calendar {
            position: relative;
            margin-left: 20px;

            &::after {
                display: block;
                position: absolute;
                left: -13px;
                top: 50%;
                content: "";
                width: 6px;
                height: 1px;
                margin-top: -0.5px;
                background-color: #8f9293;
            }
        }
    }
}

.calendar {
    height: 40px;
    background-color: $white;
    border: 1px solid #edeff0;
    border-radius: 6px;

    input {
        width: 100%;
        height: 100%;
        padding: 0 26px 0 16px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        color: $black;
        text-align: left;
        @include bgImg(icon/icon_calendar);
        cursor: pointer;
        background-position: right 10px center;
    }
}
//search

.search-set {
    position: relative;
    max-width: 390px;
    height: 40px;
    padding-right: 40px;

    input {
        border-radius: 4px 0 0 4px;
    }

    > button {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background-color: $blue;
        border-radius: 0 2px 2px 0;
        box-shadow: 1px 1px 3px #e0e4e7;
        @include bgImg(bg/bg_search);
    }

    &.service {
        max-width: 100%;
        padding-right: 160px;

        > input {
            border-radius: 4px;
        }

        > button {
            width: auto;
            padding: 0 32px 0 48px;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            font-weight: 700;
            background-position: 22px center;
            background-size: 13px 14px;
        }
    }
}
//input

.select-cycle {
    &::after {
        @include clear();
    }

    .cycle-check {
        float: left;

        &:last-child label {
            border-radius: 0 2px 2px 0;
        }

        &:first-child label {
            border-radius: 2px 0 0 2px;
        }
    }
}

.cycle-check {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 60px;

    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;

        &:checked {
            &+label {
                border-color: $blue;
            }
        }
    }

    label {
        width: 100%;
        height: 100%;
        font-size: 15px;
        line-height: 38px;
        text-align: center;
        color: #555;
        border: 1px solid #dddfe1;
        background-color: $white;
    }
}

.round-check {
    display: inline-block;
    position: relative;

    input[type="radio"],
    input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;

        &:checked {
            &+label {
                span {
                    @include bgImg(bg/btn_round_on);
                }
            }
        }
    }

    label {
        padding-left: 30px;
        font-size: 14px;
        line-height: 20px;

        span {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            @include bgImg(bg/btn_round_off);
        }
    }

    &.only {
        width: 20px;
        height: 20px;

        label {
            padding-left: 0;
        }
    }

    & {
        +.round-check {
            margin-left: 6px;
        }
    }
}

.square-check {
    display: inline-block;
    position: relative;

    input[type="radio"],
    input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 2;

        &:checked {
            &+label {
                span {
                    @include bgImg(bg/btn_square_on);
                }
            }
        }
    }

    label {
        padding-left: 30px;
        font-size: 14px;
        line-height: 20px;

        span {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 20px;
            height: 20px;
            margin-top: -10px;
            @include bgImg(bg/btn_square_off);
        }
    }

    &.only {
        width: 20px;
        height: 20px;

        label {
            padding-left: 0;
        }
    }

    & {
        +.round-check {
            margin-left: 6px;
        }
    }
}

.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;
    min-width: 1360px;
}

.gnb {
    position: fixed;
    left: 0;
    top: 0;
    width: 226px;
    height: 100%;
    background-color: #fff;
    border-right: 1px solid #edeff0;
    transition: all 0.5s ease-in-out;
    z-index: 20;
    overflow: hidden;

    &.active {
        width: 66px;

        .logo {
            .on {
                display: none;
            }
        }

        .menu {
            padding-left: 65px;

            .menu-btn {
                left: 24px;
            }
        }

        .menu-list {
            li {
                a {
                    padding-left: 66px;
                    background-position: 22px center;
                }

                &.active {
                    a {
                        background-position: 22px center;
                    }
                }
            }
        }
    }

    .menu {
        position: relative;
        padding-left: 32px;

        .menu-btn {
            position: absolute;
            left: 14px;
            top: 50%;
            width: 19px;
            height: 16px;
            margin-top: -8px;
            @include bgImg(bg/bg_menu);
        }
    }

    .logo {
        display: block;
        height: 60px;
        line-height: 60px;
        text-align: center;
        position: relative;

        a {
            display: inline-block;
            width: 100%;
            line-height: 60px;
        }

        img {
            vertical-align: middle;
        }

        .on {
            display: inline-block;
        }
    }
}

.dashboard {
    position: relative;
    float: right;
    width: calc(100% - 226px);
    min-height: 100%;
    min-width: 1134px;
    padding: 60px 20px 100px;
    transition: all 0.5s ease-in-out;
    background-color: #f6fbfe;

    &.active {
        width: calc(100% - 66px);
    }
}

.top_menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    background-color: #fff;
    border-bottom: 1px solid #edeff0;

    .toggle {
        width: 9px;
        height: 16px;
        @include bgImg(arrow/arrow_left);
        text-indent: -999999px;
        overflow: hidden;

        &.active {
            transform: rotate(180deg);
        }
    }

    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

.user-util {
    float: right;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -16px;

    .user {
        display: block;
        position: relative;
        padding-left: 40px;
        padding-right: 20px;

        &::after {
            transition: all 0.5s;
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -2.5px;
            border-bottom: 5px solid none;
            border-top: 5px solid #222;
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
        }

        .pic {
            position: absolute;
            left: 0;
            top: 50%;
            height: 31px;
            margin-top: -15.5px;
        }

        .group {
            margin-bottom: 4px;
            color: #333;
            opacity: 0.8;
            font-size: 12px;
            line-height: 14px;
        }

        .name {
            color: #333;
            font-size: 12px;
            line-height: 14px;
            font-weight: 700;
        }
    }

    &.active {
        .user {
            &::after {
                transform: rotate(180deg);
            }
        }

        .link-list {
            display: block;
            z-index: 10;
        }
    }
}

.menu-list {
    width: 226px;
    padding-top: 16px;
    @each $obj in service, study, data, user, infra {
        > li {
            a {
                &.#{$obj} {
                    @include bgImg(icon/icon_menu_#{$obj}_off);
                    background-position: 26px center;
                }
            }

            &.active {
                a.#{$obj} {
                    @include bgImg(icon/icon_menu_#{$obj}_on);
                    background-position: 26px center;
                }
            }
        }
    }

    > li {
        min-height: 50px;

        > a {
            display: block;
            padding-left: 60px;
            font-size: 16px;
            line-height: 48px;
            color: #545658;

            &:hover {
                background-color: #f6f8fa;
                box-shadow: 1px 1px 3px #e8e8e8;
            }
        }

        &.active {
            border-bottom: 1px solid #f1f1f1;

            ul {
                display: block;
            }

            > a {
                background-color: $blue;
                color: $white;
            }
        }
    }
}

.content {
    height: 100%;
    padding-top: 20px;
    background-color: #f6fbfe;

    p.title {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 22px;
        color: $black;
        font-weight: 700;
        strong {
            display:inline-block;
            position:relative;
            padding-left:28px;
        }
        @each $obj in service, study, data, user, infra {
            &.#{$obj} {
                strong {
                    @include bgImg(bg/bg_title_#{$obj} ,no-repeat , left center);
                }
            }
        }
    }

    &.sign {
        position: relative;
        min-height: calc(100% - 100px);
        height: auto;
        padding-bottom: 176px;
        background-color: #fbfbfb;
    }
}

.login {
    min-height: 720px;
    @include bgImg(bg/bg_login_bottom);
    background-position: center bottom;

    .logo {
        position: absolute;
        left: 50px;
        top: 50px;
        z-index: 10;
    }

    .title {
        position: relative;
        padding: 166px 0 192px;
        margin-bottom: 35px;
        text-align: center;
        @include bgImg(bg/bg_test);
        background-position: center bottom;
    }

    input {
        width: 100%;
        height: 52px;
        padding-left: 44px;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        text-align: left;
        font-size: 16px;
        background-color: #fff;
        line-height: 40px;
        cursor: text;
        box-shadow: 1px 1px 1px #e8e8e8;

        &::placeholder {
            color: #a9a9a9;
        }
    }

    .login_form {
        position: relative;
        width: 100%;
        max-width: 542px;
        padding-right: 122px;
        margin: 0 auto;

        input.id {
            margin-bottom: 16px;
            @include bgImg(icon/icon_user);
            background-position: left 20px center;
        }

        input.password {
            @include bgImg(icon/icon_pasword);
            background-position: left 20px center;
        }

        .btn_login {
            position: absolute;
            right: 0;
            top: 0;
            width: 110px;
            height: 120px;
            background-color: #1e90e5;
            border-radius: 8px;
            color: #fff;
            font-size: 18px;
            line-height: 120px;
            font-weight: 800;
            box-shadow: 1px 1px 1px #e8e8e8;
        }

        .links {
            display: flex;
            margin-top: 16px;

            li {
                color: #1e90e5;
                position: relative;

                &+li {
                    margin-left: 12px;
                    padding-left: 12px;

                    &::after {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 1px;
                        height: 100%;
                        background-color: #1e90e5;
                    }
                }
            }
        }
    }
}

.var_wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    align-items: flex-end;
    bottom: 0;

    li {
        width: 4px;
        height: 0;
        background-color: #d7ebfa;
        transition: height 0.6s ease-out;

        &+li {
            margin-left: 7px;
        }
    }
}

.capy_txt {
    position: absolute;
    left: 0;
    bottom: 22px;
    width: 100%;
    text-align: center;
    color: #898989;

    span {
        margin: 0 4px;
        color: #1e90e5;
        font-weight: 700;
    }
}

.table-utils {
    position: relative;
    min-height: 40px;
    margin-bottom: 10px;

    &::after {
        display: block;
        clear: both;
        content: "";
    }

    .table-current {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: 14px;
        line-height: 16px;
        color: #000;

        strong {
            font-weight: 700;
        }
    }

    .left {
        position: relative;
        float: left;

        .select {
            position: absolute;
            left: 0;
            top: 0;
            width: 150px;
        }

        .sub-tit {
            margin-bottom: 0;
            line-height: 40px;
        }
    }

    .right {
        position: relative;
        float: right;
        padding-right: 160px;

        .table-current {
            position: static;
            padding-top: 20px;
        }

        .select {
            position: absolute;
            right: 0;
            top: 0;
            width: 150px;
        }
    }
}
//tabel

.table-wrap {
    & + .btn_center {
        margin-top: 20px;
    }
}

table {
    width: 100%;
    background-color: $white;

    thead {
        tr {
            th {
                font-size: 14px;
                line-height: 16px;
                color: #444;
                font-weight: 700;
                vertical-align: middle;
                border-bottom: 1px solid #f2f4f4;
            }
        }
    }

    tbody {
        tr {
            td,
            th {
                font-size: 14px;
                line-height: 16px;
                color: #333;
                vertical-align: middle;
                text-align: center;
                border-top: 1px solid #f2f4f4;
                word-break: break-all;

                &.text-left {
                    text-align: left;
                }

                &.info {
                    padding: 10px;
                }

                .desc {
                    font-size: 14px;
                    line-height: 40px;
                    color: #666;
                }
            }

            &:first-child {
                td {
                    border-top: none;
                }
            }

            &:last-child {
                td {
                    border-bottom: 1px solid #f2f4f4;
                }
            }
        }
    }

    &.directory {
        display: none;

        &.active {
            display: table;
        }
    }
}

table.type1 {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 3px #e0e4e7;

    thead {
        tr {
            th {
                height: 40px;
            }
        }
    }

    tbody {
        tr {
            border-left: 3px solid transparent;

            &:hover {
                border-color: $blue;
            }

            td {
                height: 40px;
            }

            &:first-child {
                td {
                    border-top: none;
                }
            }
        }
    }

    &.sound {
        tr {
            &:hover {
                border-color: transparent;
            }

            &:hover {
                td {
                    background-color: #e8f4fc;
                }
            }
        }
    }
}

table.type2 {
    border-top: 3px solid $blue;

    tr {
        th {
            padding-left: 24px;
            background-color: #fafafa;
        }

        td {
            padding: 0 10px;
        }

        td,
        th {
            height: 50px;
            text-align: left;
        }

        &:last-child {
            th {
                border-bottom: 1px solid #f2f4f4;
            }
        }

        &.txt-top {
            th {
                padding-top: 20px;
                vertical-align: text-top;
            }
        }
    }

    &.service {
        tr {
            &.folder-line {
                td {
                    border-top: 1px solid #edeff0;

                    strong {
                        color: #222222;
                        font-weight: 700;
                    }
                }
            }

            td {
                border: none;

                &.license {
                    input {
                        width: 190px;
                    }

                    span {
                        margin-left: 6px;
                    }
                }

                &:nth-child(3) {
                    background-color: #fbfcfc;
                }
            }
        }

        & + h2 {
            position: relative;
            margin-top: 20px;

            button {
                position: absolute;
                right: 20px;
                top: 50%;
                width: 13px;
                height: 13px;
                margin-top: -6.5px;
                border-top: 2px solid #5c5c5c;
                border-left: 2px solid #5c5c5c;
                transform: rotate(-135deg);

                &.active {
                    transform: rotate(45deg);
                }
            }
        }
    }
}

table.type3 {
    @extend table.type2;

    tr {
        th {
            padding: 0 10px;
        }

        td,
        th {
            text-align: center;
        }
    }
}
//paging

.paging {
    margin-top: 10px;

    a {
        @each $obj in first, prev, next, last {
            &.#{$obj} {
                @include bgImg(arrow/arrow_#{$obj});
            }
        }
        display: block;
        float: left;
        width: 30px;
        height: 30px;
        font-size: 14px;
        line-height: 28px;
        text-align: center;
        border: 1px solid #edeff0;
        background-color: #fff;
        color: #333;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #e8e8e8;

        &.active {
            color: #fff;
            background-color: #1e90e5;
        }

        &+a {
            margin-left: 4px;
        }
    }

    .num {
        float: left;
        margin: 0 10px;

        & {
            a:not(.active):hover {
                background-color: #e1e4e6;
            }
        }
    }

    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

.favorites {
    display: none;
    position: fixed;
    left: 14px;
    top: 58px;
    width: 232px;
    max-height: 400px;
    overflow-x: auto;
    background-color: #fff;
    z-index: 10;
    box-shadow: 1px 1px 3px #e4e8eb;

    li {
        height: 40px;

        a {
            display: block;
            padding-left: 40px;
            font-size: 14px;
            line-height: 38px;
            color: #666;
            @include bgImg(icon/icon_star, no-repeat, left 18px center);

            &:hover:not(.active) {
                background-color: #e8f4fc;
                @include bgImg(icon/icon_star_on, no-repeat, left 18px center)
            }

            &.active {
                border-bottom: 1px solid #e5e5e5;
                @include bgImg(icon/icon_star_on, no-repeat, left 18px center)
            }
        }
    }

    &.active {
        display: block;
    }
}

.link-list {
    display: none;
    position: absolute;
    left: -77px;
    top: 46px;
    width: 234px;
    box-shadow: 1px 1px 3px #e4e8eb;

    li {
        a {
            display: block;
            padding-left: 74px;
            font-size: 14px;
            line-height: 50px;
            color: #666;
            background-color: $white;
            border-bottom: 1px solid #fff;

            &:hover {
                background-color: #e8f4fc;
                border-bottom: 1px solid #d0dbe2;
            }

            &.my {
                @include bgImg(icon/icon_s_user_off, no-repeat, left 32px center)
            }

            &.logout {
                @include bgImg(icon/icon_s_setting_off, no-repeat, left 32px center)
            }
        }
    }
}

.search-date {
    &::after {
        @include clear;
    }

    &+.table-utils {
        margin-top: 20px;
    }

    .calendar-set,
    .search-set,
    .select,
    .select-cycle {
        float: left;
    }

    .select-cycle {
        margin: 0 10px;
    }

    .select {
        max-width: 150px;
        margin-right: 10px;
    }

    .search-set {
        width: calc(100% - 800px);
    }
}

.ui-datepicker {
    display: none;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    z-index: 111 !important;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #e8e8e8;

    .ui-datepicker-header {
        position: relative;
        text-align: center;
        margin-bottom: 10px;

        .ui-datepicker-prev {
            cursor: pointer;
            position: absolute;
            left: 14px;
            top: 50%;
            width: 6px;
            height: 10px;
            margin-top: -5px;
            color: transparent;
            background-image: url("../images/arrow/arrow_prev.png");
            background-position: center;
            background-repeat: no-repeat;
            font-size: 0;
        }

        .ui-datepicker-next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: 6px;
            height: 10px;
            margin-top: -5px;
            color: transparent;
            right: 14px;
            background-image: url("../images/arrow/arrow_next.png");
            background-position: center;
            background-repeat: no-repeat;
            font-size: 0;
        }
    }

    .ui-datepicker-calendar {
        width: 100%;
        text-align: center;

        th {
            border: none;

            span {
                display: inline-block;
                margin-bottom: 6px;
                font-size: 12px;
                color: #999;
            }
        }

        td {
            border: none;

            a {
                display: inline-block;
                width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 20px;
                color: #666;

                &:hover {
                    background-color: #1e90e5;
                    border-radius: 15px;
                    color: #fff;
                }
            }

            span {
                font-size: 12px;
                line-height: 14px;
                color: #eee;
            }
        }
    }
}

.pop {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;

    .layout-pop {
        width: 100%;
        max-width: 1020px;
        max-height: 900px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 1px 1px 1px #e8e8e8;
        overflow-x: auto;

        h2 {
            margin-bottom: 10px;
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            color: #222;
        }

        .txt_info {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 8px;
        }

        .table_wrap {
            max-height: 252px;
            overflow-x: auto;
        }

        .btn_center {
            margin-top: 20px;
        }

        &.type01 {
            max-width: 538px;

            table {
                td,
                th {
                    border-left: 1px solid #f2f4f4;

                    &:first-child {
                        border-left: none;
                    }
                }
            }
        }

        &.type02 {
            max-width: 1300px;
        }

        &.type03 {
            max-width: 730px;
        }
    }

    &.active {
        display: flex;
    }
    .search-set {
        max-width:100%;
        height:auto;
        margin-bottom:10px;
        button {
            top:auto;
            bottom:0;
        }
    }
}

.alert {
    width: 340px;
    padding: 0 0 20px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 1px 4px #5d5d5d;

    .title {
        display: block;
        padding: 11px 0;
        margin-bottom: 13px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        background-color: #1e90e5;
    }

    p {
        font-size: 14px;
        line-height: 16px;
        color: #464a53;
        padding-top: 22px;
        margin-bottom: 34px;
    }
}

.round_service {
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: $blue;
    color: $white;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    border-radius: 50px;
}

.num-set {
    float: left;
    width: 100%;
    max-width: 380px;

    input[type="text"].input,
    input[type="password"].input {
        float: left;
        width: calc(33% - 10px);
        margin-right: 0;
    }

    span {
        display: inline-block;
        float: left;
        width: 16px;
        line-height: 40px;
        color: #949494;
        text-align: center;
    }

    &::after {
        @include clear;
    }
}

label.star {
    position: relative;
    padding-left: 10px;

    span.star {
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -8px;
        font-size: 14px;
        color: $blue;
    }
}

.model-pos {
    position: relative;
    padding-right: 30px;

    button {
        position: absolute;
        right: 0;
        top: 50%;
        width: 19px;
        height: 19px;
        margin-top: -8.5px;
        @include bgImg (bg/bg_model);
    }
}

.header {
    position: relative;
    height: 100px;
    background-color: #1e90e5;

    .logo {
        display: inline-block;
        position: absolute;
        left: 30px;
        top: 50%;
        margin-top: -27px;
    }

    .title {
        font-size: 24px;
        line-height: 100px;
        font-weight: 700;
        text-align: center;
        color: #fff;
    }

    &+.sign {
        padding-top: 40px;
    }
}

.step {
    padding-bottom: 36px;

    .list {
        display: flex;
        justify-content: center;
        @for $i from 1 to 4 {
            li {
                position: relative;
                width: 120px;
                padding-top: 76px;
                margin-left: 330px;
                text-align: center;

                &:nth-child(#{$i}) {
                    @include bgImg ('icon/icon_step#{$i}_off', no-repeat, center top);
                    font-size: 16px;
                    line-height: 20px;
                    color: #999;
                }

                &.active:nth-child(#{$i}) {
                    color: $blue;
                    font-weight: 700;
                    @include bgImg ('icon/icon_step#{$i}_on', no-repeat, center top);

                    &+.active {
                        &::after {
                            background: linear-gradient(to right, $blue, $blue);
                        }
                    }

                    &+li {
                        &::after {
                            background: linear-gradient(to right, $blue, #f2f5f7);
                        }
                    }
                }

                &:first-child {
                    margin-left: 0;

                    &:after {
                        display: none;
                    }
                }

                &:after {
                    position: absolute;
                    display: block;
                    content: "";
                    top: 32px;
                    left: -359px;
                    width: 388px;
                    height: 2px;
                    background-color: #f6f7f8;
                }
            }
        }
    }
}

.white_board {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px 25px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #e8e8e8;

    .title {
        padding-bottom: 10px;
        font-size: 18px;
        line-height: 20px;
        color: $black;
        font-weight: 700;

        &+.input_form {
            margin-bottom: 0;
        }
    }

    &+.white_board {
        margin-top: 30px;
    }

    &+.btn_center {
        margin-top: 20px;
    }
}

.agree_section {
    .tit {
        margin-bottom: 14px;
        font-size: 18px;
        line-height: 20px;

        strong {
            margin-right: 6px;
            color: $blue;
        }
    }

    .textarea {
        height: 280px;
        margin-bottom: 14px;
        padding: 20px;
        border: 1px solid #dadada;
        white-space: pre-line;
        font-size: 14px;
        line-height: 18px;
        overflow-x: auto;

        strong {
            font-size: 16px;
            font-weight: 700;
            color: $black;
        }
    }

    &+.agree_section {
        margin-top: 30px;
    }
}

.sign_form {
    table.type2 {
        tr {
            th {
                padding-left: 26px;
            }

            td,
            th {
                height: 70px;

                input {
                    max-width: 380px;
                }

                .select {
                    max-width: 380px;
                }

                .desc {
                    margin-left: 6px;
                    font-size: 14px;
                    line-height: 40px;
                    color: #666;
                }

                .btn-id {
                    margin-left: 6px;
                }
            }
        }
    }
}

.complete_box {
    text-align: center;

    p {
        padding-top: 72px;
        margin-bottom: 20px;
        font-size: 20px;
        line-height: 22px;
        font-weight: 700;
        color: #444;
        @include bgImg ('bg/bg_complete_check', no-repeat, center top);
    }
}

.sorting {
    position: relative;
    display: inline-block;
    padding-right: 16px;
    cursor: pointer;

    &::after {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -2.5px;
        border-top: 5px solid none;
        border-bottom: 5px solid #333;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        content: "";
        transform: rotate(180deg);
    }

    &.active {
        &::after {
            transform: rotate(0);
        }
    }
}

.model-message {
    display: inline-block;
    padding: 11px 14px;
    margin-bottom: 10px;
    border: 1px dashed $blue;
    border-radius: 6px;
    font-size: 14px;
    line-height: 16px;

    strong {
        margin-right: 16px;
        color: $blue;
    }
}

.id_find,
.password_find {
    width: 100%;
    max-width: 790px;
    margin: 0 auto;
    padding-top: 30px;

    dl {
        position: relative;
        width: 100%;
        max-width: 442px;
        padding-left: 64px;
        margin-bottom: 24px;

        dt {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 14px;
            line-height: 40px;
            color: $black;

            label {
                font-weight: 700;
            }
        }
    }

    .btn_center {
        margin-top: 20px;
    }
}

.password_find {
    dl {
        margin: 0 auto;

        &+dl {
            margin-top: 20px;
        }
    }
}

.serach_box {
    &::after {
        display: block;
        clear: both;
        content: "";
    }

    .tit {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 16px;
        color: $black;
        font-weight: 700;
    }

    .box {
        float: left;
        width: calc(50% - 15px);
        padding: 30px 26px;
        border: 1px solid #dddfe1;
        border-radius: 8px;

        &+.box {
            margin-left: 30px;
        }

        p {
            @each $obj in email, phon {
                &.#{$obj} {
                    @include bgImg ('bg/bg_#{$obj}', no-repeat, center top);
                }
            }
            padding-top: 80px;
            margin-bottom: 26px;
            font-size: 18px;
            line-height: 20px;
            color: $black;
            text-align: center;

            strong {
                font-weight: 700;
            }
        }
    }
}

.result {
    text-align: center;

    .tit {
        width: 100%;
        max-width: 790px;
        margin: 0 auto;
        text-align: left;
    }

    .info {
        padding-top: 80px;
        margin: 44px 0 16px;
        font-size: 14px;
        line-height: 20px;
        color: #444;
        @include bgImg ('bg/bg_email', no-repeat, center top);
    }

    .email_select {
        width: 100%;
        max-width: 494px;
        margin: 0 auto;
        padding: 12px 0;
        background-color: #f3f3f3;
        border-radius: 6px;

        li+li {
            margin-top: 10px;
        }

        label {
            font-size: 14px;
            line-height: 20px;
        }

        .date {
            font-size: 14px;
            line-height: 16px;
            color: #666;
        }

        &+.btn_center {
            margin-top: 20px;
        }
    }
}

.txt_left {
    text-align: left;
}

.input_form {
    border-top: 3px solid #1e90e5;
}

.round_bullet {
    position: relative;
    padding-left: 8px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 3px;
        height: 3px;
        margin-top: -1.5px;
        background-color: $blue;
    }
}

.service-info {
    position: relative;
    padding: 20px 330px 20px 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #edf2f5;

    .search_box {
        position: absolute;
        right: 20px;
        top: 20px;
        width: 290px;
    }
}

.search_box {
    width: 350px;

    .calendar-set {
        max-width: 100%;
        margin-bottom: 16px;
    }
}

.info-list {
    &::after {
        @include clear;
    }

    li {
        position: relative;
        float: left;
        width: calc(20% - 8px);
        padding: 18px 10px;
        text-align: right;
        border: 1px solid #edeff0;
        box-shadow: 1px 1px 3px #edf2f5;
        border-radius: 10px;

        & + li {
            margin-left: 10px;
        }

        &:first-child {
            margin-left: 0;
        }

        strong {
            font-size: 30px;
            line-height: 32px;
            font-weight: 900;
        }

        p {
            margin-top: 10px;
            font-size: 13px;
            line-height: 16px;
            color: #555;
            letter-spacing: -1px;
        }
        $obj-data: (
            total_service: #1d8ff7,
            total_data: #00b2ff,
            total_sound: #fc5b97,
            sound_madel: #fed515,
            total_model: #9664c6
        );
        @each $bg , $color in $obj-data {
            &.#{$bg} {
                &::after {
                    display: block;
                    position: absolute;
                    left: 12px;
                    top: 12px;
                    width: 32px;
                    height: 32px;
                    content: "";
                    @include bgImg (bg/bg_#{$bg});
                }

                strong {
                    color: $color;
                }
            }
        }
    }
}

.toggle-box {
    position: relative;
    padding: 20px 420px 20px 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 1px 1px 3px #e4e8eb;
    border-radius: 6px;
    transition: padding 0.3s;

    .search-set.service {
        margin: 30px 0 22px;
    }

    .search_box {
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .toggle {
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 48px;
        height: 26px;
        margin-left: -24px;
        background-color: #ecf1f4;
        border-radius: 30px 30px 0 0;
        @include bgImg (arrow/arrow_toggle);
    }

    &.active {
        padding-top: 1px;
        padding-bottom: 1px;
        margin-bottom: 40px;

        > div {
            display: none;
        }

        .toggle {
            bottom: -26px;
            transform: rotate(180deg);
        }
    }
}

.round-tab {
    margin: 0 auto 20px;
    border: 1px solid #dddfe1;
    border-radius: 50px;
    background-color: #fff;

    button {
        float: left;
        padding: 12px 0;
        font-size: 14px;
        line-height: 16px;
        color: #aaa;
        text-align: center;
        border: 2px solid transparent;
        border-radius: 50px;

        &.active {
            border-color: $blue;
            font-weight: 700;
            color: $blue;
        }
    }

    &.tab2 {
        max-width: 480px;

        button {
            width: 50%;
        }
    }

    &.tab3 {
        max-width: 720px;

        button {
            width: 33.33%;
        }
    }

    &.tab5 {
        max-width: 1200px;

        button {
            width: 20%;
        }
    }

    &::after {
        @include clear;
    }
}

.tab_cont {
    display: none;

    &.active {
        display: block;
    }
}

.tab-list {
    margin-bottom: 20px;
    text-align: center;

    button {
        position: relative;
        padding-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
        color: #aaa;

        & + button {
            margin-left: 26px;
        }

        &.active {
            color: $black;

            &::after {
                display: block;
                position: absolute;
                left: 50%;
                bottom: 0;
                content: "";
                width: 30px;
                height: 2px;
                margin-left: -15px;
                background-color: $blue;
            }
        }
    }
}

.tab-list-cont {
    display: none;

    &.active {
        display: block;
    }
}

.textarea-set {
    p.tit {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
        color: #444;
    }

    & + .textarea-set {
        margin-top: 20px;
    }
}

.sub-tit {
    font-size: 14px;
    line-height: 16px;
    color: #333;
    font-weight: 700;
    margin-bottom: 12px;

    .tit2 {
        position: relative;
        display: inline-block;
        padding-left: 12px;
        margin-left: 8px;

        &::after {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            width: 9px;
            height: 11px;
            margin-top: -5.5px;
            content: "";
            @include bgImg (arrow/arrow_right);
        }
    }
}

.file-wrap {
    position: relative;
    width: 100%;
    max-width: 530px;
    padding-right: 110px;

    .txt {
        color: $black;
        border-radius: 6px 0 0 6px;
        @include textHidden;
    }

    .file {
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        opacity: 0;
    }

    .up-load {
        position: absolute;
        right: 0;
        top: 0;
        width: 120px;
        height: 40px;
        padding-left: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        border-radius: 2px;
        background-color: #00b1f0;
        @include bgImg (btn/btn_add_file,no-repeat, left 12px center);
        cursor: pointer;
    }

    &.type01 {
        padding-right: 34px;

        .up-load {
            top: 50%;
            width: 27px;
            height: 22px;
            margin-top: -11px;
            @include bgImg (bg/bg_file_upload);
            background-color: transparent;
        }
    }

    &.type02 {
        padding-right: 250px;

        .up-load {
            right: 130px;
        }

        &.active {
            .file-play {
                display: none;
            }

            .file-stop {
                display: block;
            }
        }
    }
}

.play-wrap {
    position: relative;
    width: 100%;
    max-width: 530px;
    min-height: 40px;
    padding-right: 120px;
    display: flex;
    align-items: center;

    .progress {
        width: 100%;
        max-width: 400px;
    }

    .file-stop {
        display: none;
    }

    &.active {
        .file-stop {
            display: block;
        }

        .file-play {
            display: none;
        }
    }
}

.row-tabel {
    position: relative;
    width: 100%;
    padding-left: 140px;

    dt {
        position: absolute;
        left: 0;
        top: 0;
        width: 120px;
        padding-left: 10px;
        font-size: 14px;
        line-height: 40px;
        color: $black;
        font-weight: 700;
        vertical-align: middle;
    }

    dd {
        font-size: 14px;
        line-height: 40px;
        color: #444;
        min-height:40px;
        span {
            display: inline-block;
            line-height: 20px;
        }
    }

    & + .row-tabel {
        margin-top: 20px;
    }

    & + .type1 {
        margin-top: 0;
    }

    &.btn4 {
        width: calc(100% - 430px);
    }
    &.rong {
        padding-left:160px;
        dt {
            width:150px;
        }
    }
}

.progress-wrap {
    max-width: 436px;
    position: relative;
    padding: 16px 66px;
    border: 1px solid #dddfe1;
    border-radius: 4px;
    @each $obj in start , stop , volume , mute {
        button {
            position: absolute;
            top: 50%;

            &.right {
                right: 38px;
                width: 24px;
                height: 21px;
                margin-top: -10.5px;
            }

            &.left {
                left: 38px;
                width: 23px;
                height: 23px;
                margin-top: -11.5px;
            }

            &.#{$obj} {
                @include bgImg (btn/btn_#{$obj});
            }
        }
    }

    &.in-table {
        max-width: 132px;
        margin: 0 auto;
        border: none;
        padding: 0 27px;

        .left {
            left: 0;
        }

        .right {
            right: 0;
        }
    }
}

.progress {
    position: relative;
    height: 7px;
    background-color: #efefef;
    border-radius: 30px;

    .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 72%;
        height: 100%;
        border-radius: 30px;
        background-color: $blue;
        transition: all 0.5s;

        &.green {
            background-color: #53dd08;
        }
    }
}

.right-utils {
    position: absolute;
    right: 20px;
    top: 20px;

    .btn-group {
        & + .upload-wrap {
            margin-top: 28px;
        }
    }

    .upload-wrap {
        max-width: 254px;
        margin-left: auto;
    }
}

.search_pop {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    padding: 36px 20px;
    background-color: rgba(0,0,0,0.8);
    z-index: 20;
    border-radius: 4px;

    .tit {
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        text-align: center;
    }

    .search-txt {
        width: 350px;
        display: block;
        padding: 0 20px 6px 30px;
        margin: 0 auto 24px;
        border-bottom: 1px solid #fff;
        border-radius: 0;
        color: #fff;
        text-align: left;
        border-radius: 0;
        @include bgImg (bg/bg_search, no-repeat , left center);

        &:focus {
            border-color: #fff;
        }
    }

    .table-wrap {
        max-height: 240px;
        overflow-x: auto;
    }

    .star {
        width: 19px;
        height: 18px;
        @include bgImg (icon/icon_star);
        cursor: pointer;

        &:hover {
            @include bgImg (icon/icon_star_on);
        }
    }

    .close {
        position: absolute;
        right: 25px;
        top: 25px;
        width: 20px;
        height: 20px;
        @include bgImg (btn/btn_close_white);
    }

    &.active {
        display: block;
    }
}

.btn-group {
    &::after {
        @include clear();
    }
}
@each $obj in add , edit, remove, txtAdd , down , reset ,save2 {
    button {
        &.btn_#{$obj} {
            float: left;
            width: 80px;
            height: 40px;
            padding-left: 14px;
            border-radius: 4px;
            font-size: 14px;
            line-height: 38px;
            color: #737373;
            font-weight: 700;
            margin-left: 10px;
            border: 1px solid #a4a4a4;
            background: url("../images/btn/btn_util_#{$obj}.png") no-repeat left 14px center $white;

            &:hover {
                border-color: $blue;
                color: $blue;
                background-image: url("../images/btn/btn_util_#{$obj}_on.png");
            }

            &.medium {
                width: 100px;
                background-position: left 10px center;
            }

            &.large {
                width: 110px;
                background-position: left 8px center;
            }
        }
    }
}

.btn_play {
    width: 24px;
    height: 24px;
    background: url("../images/btn/btn_play2.png") no-repeat center;

    &.active {
        background: url("../images/btn/btn_stop2.png") no-repeat center;
    }
}

.upload-wrap {
    position: relative;
    max-width: 200px;

    .progress {
        .bg {
            background-color: #00b1f0;

            &.green {
                background-color: #53dd08;
            }
        }
    }

    .txt_condi {
        position: relative;
        padding-right: 30px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 16px;
        color: #464a53;
        font-weight: 700;

        strong {
            position: relative;
            display: inline-block;
            padding-right: 30px;

            button {
                position: absolute;
                right: 0;
                top: 50%;
                width: 23px;
                height: 23px;
                margin-top: -11.5px;
                @each $obj in start , stop_red {
                    &.#{$obj} {
                        background: url("../images/btn/btn_#{$obj}.png") no-repeat center;
                    }
                }
            }
        }

        span {
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    & + .file-wrap {
        margin-top: 10px;
    }

    &.type1 {
        position: relative;
        max-width: 864px;
        padding-right: 186px;

        .progress {
            height: 12px;
        }

        .txt_condi {
            margin-bottom: 14px;
            font-size: 16px;
        }

        .btn {
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -20px;
        }
    }
}

.progress-set {
    position: relative;
    max-width: 580px;
    padding-right: 140px;

    .progress-wrap {
        position: absolute;
        right: 0;
        top: 50%;
        width: 134px;
        border: none;
        padding: 0 26px;
        margin-top: -3.5px;

        .right {
            right: 0;
        }

        .left {
            left: 0;
        }
    }
}

i.audio {
    display: inline-block;
    width: 21px;
    height: 19px;
    @include bgImg (bg/bg_audio_off);

    &.active {
        background-image: url("../images/bg/bg_audio.png");
    }
}

.winPop-wrap {
    background-color: #f7f7f7;
    min-height: 100vh;
}

.winPop {
    width: 1360px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 3px #e0e4e7;

    .sub-tit {
        padding: 16px 20px;
        margin-bottom: 0;
        background-color: $blue;
        color: $white;
        border-radius: 20px 20px 0 0;
    }

    .table-wrap {
        padding-bottom: 20px;
        border-radius: 0 0 20px 20px;
        background-color: #fff;

        table {
            border-radius: 0;
            box-shadow: none;
            overflow: inherit;
        }
    }

    .base-box {
        margin-bottom: 0;
        box-shadow: none;
        border-radius: 0;
        border-bottom: 1px solid #f2f4f4;

        & + .table-wrap {
            margin-top: 0;
        }
    }
}

.scoll-table {
    max-height: 500px;
    overflow-x: auto;
}

.check_group {
    padding: 5px;
    margin-left: -6px;
    margin-top: -6px;

    .round-check {
        margin-left: 6px;
        margin-top: 6px;
    }
}

.data-view {
    display: none;

    &.active {
        display: block;
    }
}

.file-play {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border-radius: 4px;
    background-color: $blue;
    @include bgImg (bg/bg_start, no-repeat, left 12px center);
}

.file-stop {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border-radius: 4px;
    background-color: $blue;
    @include bgImg (bg/bg_stop, no-repeat, left 12px center);
    display: none;
}

.process {
    .left {
        float: left;
        width: calc(100% - 350px);
    }

    .right {
        float: right;
        width: 330px;

        .title {
            font-size: 14px;
            line-height: 16px;
            color: $black;
            font-weight: 700;
        }
    }

    .text-wrap {
        margin-bottom: 28px;
        text-align: center;

        strong {
            font-size: 18px;
            line-height: 20px;
            color: $black;
        }

        p {
            display: block;
            margin: 12px 0;
            font-size: 30px;
            line-height: 32px;
            font-weight: 900;
            background: -webkit-linear-gradient(90deg, $blue, #55c9f2);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: $blue;
        }

        span {
            font-size: 14px;
            line-height: 16px;
            color: #444;
        }
    }

    table {
        tr {
            th {
                height: 42px;
                background-color: #fafafa;
            }

            td {
                height: 40px;

                span.green {
                    color: #71d875;
                }

                span.red {
                    color: #ff0000;
                }

                span.yellow {
                    color: #f9ce08;
                }
            }
        }

        & + table {
            margin-top: 20px;
        }
    }

    .btn-list {
        margin-top: 14px;

        &::after {
            @include clear();
        }

        p {
            position: relative;
            padding-left: 6px;
            margin-bottom: 10px;
            font-size: 14px;
            line-height: 16px;
            color: $black;

            &::after {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                content: "";
                width: 2px;
                height: 100%;
                background-color: $blue;
            }
        }

        button {
            float: left;
            width: 33.33%;
            padding: 6px 0;
            text-align: center;
            border: 1px solid #dddfe1;
            font-size: 14px;
            line-height: 16px;

            &:hover {
                border-color: $blue;
                color: $blue;
            }

            &.active {
                border-color: $blue;
                color: $blue;
            }

            &:nth-child(2) {
                border-radius: 4px 0 0 4px;
            }

            &:nth-child(4) {
                border-radius: 0 4px 4px 0;
            }

            & + button {
                border-left: none;

                &.active,
                &:hover {
                    border-left: 1px solid $blue;
                }
            }
        }
    }

    .server {
        & + .server {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px dashed #d4d4d4;
        }
    }

    &::after {
        @include clear;
    }
}

.scroll-table {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 1px 1px 3px #e0e4e7;

    .scroll {
        max-height: 200px;
        overflow-y: auto;
    }

    .cell-wrap {
        &::after {
            @include clear();
        }
    }

    .cell {
        float: left;
        height: 40px;
        text-align: center;
        font-size: 14px;
        line-height: 38px;
        color: #444;
        font-weight: 700;
        vertical-align: middle;
        border-bottom: 1px solid #e8f4fc;

        &.w10 {
            width: 10%;
        }

        &.w80 {
            width: 80%;
        }

        .round-check {
            vertical-align: middle;
        }

        &.text-left {
            padding:0 20px;
            text-align: left;
        }
    }
}
.delete {
    width:12px;
    height:12px;
    @include bgImg (btn/btn_delete);
}
.set-wrap {
    position:relative;
    max-width:520px;
    padding-right:120px;
    .textarea {
        padding:0 14px;
        min-height:40px;
        @include textHidden;
        span {
            position:relative;
            display:inline-block;
            margin-right:30px;
            .delete{
                position:absolute;
                right:-30px;
                top:50%;
                margin-top:-6px;
            }
        }
    }
    .btn {
        position:absolute;
        right:0;
        bottom:0;
    }
}
