.base-box {
		position: relative;
		padding: 20px;
		background-color: #fff;
		box-shadow: 1px 1px 3px #e4e8eb;
		border-radius: 6px;
}

.base-box .desc {
		font-size: 14px;
		line-height: 16px;
		color: #222;
}

.base-box .desc.type1 {
		position: relative;
		padding-right: 130px;
		line-height: 40px;
}

.base-box .desc.type1 .btn {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -20px;
}

.base-box .desc + .textarea {
		margin-top: 14px;
}

.base-box + .btn_center {
		margin-top: 20px;
}

.base-box + .table-wrap {
		margin-top: 20px;
}

.base-box + .sub-tit {
		margin-top: 20px;
}

.base-box + .base-box {
		margin-top: 20px;
}

.base-box + .data-view {
		margin-top: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
		border-color: #1e90e5;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
		font-size: 14px;
		color: #a9a9a9;
}

input[type="text"].edit,
input[type="password"].edit {
		width: 100%;
		height: 100%;
		border-radius: 4px;
		padding: 0 10px;
}

input[type="text"].edit:focus,
input[type="password"].edit:focus {
		border: 1px solid #1e90e5;
		text-align: left;
}

input[type="text"].disabled,
input[type="password"].disabled {
		background-color: #f7f7f7;
}

input.input {
		width: 100%;
		height: 40px;
		padding: 0 10px;
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		text-align: left;
		font-size: 14px;
		background-color: #fff;
		line-height: 40px;
		cursor: text;
}

.select {
		display: block;
		position: relative;
		width: 100%;
		height: 40px;
		border: 1px solid #dddfe1;
		text-align: left;
		font-size: 14px;
		line-height: 40px;
		border-radius: 5px;
		background-color: #fff;
		z-index: 10;
		box-shadow: 1px 1px 3px #edeff0;
}

.select select {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
}

.select .select-list {
		display: none;
		position: absolute;
		left: 0;
		top: 46px;
		width: 100%;
		max-height: 160px;
		padding: 0 16px;
		z-index: 10;
		border: 1px solid #dddfe1;
		text-align: left;
		font-size: 14px;
		border-radius: 5px;
		background-color: #fff;
		overflow-x: auto;
}

.select .select-list li {
		border: none;
}

.select .selected {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		padding: 0 16px;
		z-index: 10;
		background-image: url("../images/arrow/arrow_down.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: right 24px center;
}

.select .selected.active {
		color: #222;
}

.select.on .select-list {
		display: block;
}

.select.on {
		z-index: 20;
}

.textarea {
		width: 100%;
		height: 100%;
		padding: 19px;
		border-radius: 5px;
		border: 1px solid #dddfe1;
		font-size: 14px;
		color: #222;
		box-sizing: border-box;
}

.btn {
		display: inline-block;
		width: 100px;
		height: 40px;
		line-height: 38px;
		font-size: 16px;
		border-radius: 20px;
		color: #1e90e5;
		border: 1px solid #1e90e5;
		background-color: #fff;
}

.btn.btn-auto {
		width: auto;
		padding: 0 16px;
}

.btn.active {
		background-color: #1e90e5;
		color: #fff;
}

.btn.large {
		width: 130px;
}

.btn span {
		padding-left: 30px;
}

.btn span.start {
		background-image: url("../images/bg/bg_start.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.btn span.setting {
		background-image: url("../images/bg/bg_setting.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.btn span.stop {
		background-image: url("../images/bg/bg_stop.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.big_mic {
		width: 77px;
		height: 77px;
		background: url("../images/btn/btn_big_mic_off.png") no-repeat center;
}

.big_mic.active {
		background: url("../images/btn/btn_big_mic_on.png") no-repeat center;
}

.big_down {
		width: 77px;
		height: 77px;
		background: url("../images/btn/btn_big_down_off.png") no-repeat center;
}

.big_down.active {
		background: url("../images/btn/btn_big_down_on.png") no-repeat center;
}

.big_remove {
		width: 77px;
		height: 77px;
		background: url("../images/btn/btn_big_remove_off.png") no-repeat center;
}

.big_remove.active {
		background: url("../images/btn/btn_big_remove_on.png") no-repeat center;
}

.btn_save {
		width: 34px;
		height: 34px;
		background: url("../images/btn/btn_save.png") no-repeat center;
}

.btn_save:hover {
		width: 34px;
		height: 34px;
		background: url("../images/btn/btn_save_on.png") no-repeat center;
}

.btn_view {
		width: 34px;
		height: 34px;
		background: url("../images/btn/btn_view.png") no-repeat center;
}

.btn_view:hover {
		width: 34px;
		height: 34px;
		background: url("../images/btn/btn_view_on.png") no-repeat center;
}

.btn_result {
		width: 34px;
		height: 34px;
		background: url("../images/btn/btn_result.png") no-repeat center;
}

.btn_box {
		width: 140px;
		height: 36px;
		color: #1e90e5;
		border: 1px solid #1e90e5;
		font-size: 14px;
		line-height: 34px;
		border-radius: 6px;
}

.btn_box span {
		position: relative;
		padding-left: 24px;
}

.btn_box span:after {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
}

.btn_box span.service::after {
		background-image: url("../images/btn/btn_service.png");
		background-repeat: no-repeat;
		background-position: center;
}

.btn_box {
		width: 140px;
		height: 36px;
		color: #1e90e5;
		border: 1px solid #1e90e5;
		font-size: 14px;
		line-height: 34px;
		border-radius: 6px;
}

.btn_box span {
		position: relative;
		padding-left: 24px;
}

.btn_box span:after {
		display: block;
		content: "";
		position: absolute;
		left: 0;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
}

.btn_box span.menu::after {
		background-image: url("../images/btn/btn_menu.png");
		background-repeat: no-repeat;
		background-position: center;
}

.btn_center {
		position: relative;
		min-height: 40px;
		margin-top: 20px;
		text-align: center;
}

.btn_center button + button {
		margin-left: 6px;
}

.btn_center .btn + .btn {
		margin-left: 6px;
}

.btn_center .pos-right {
		position: absolute;
		right: 0;
		top: 0;
}

.btn-id {
		width: 150px;
		height: 40px;
		font-size: 14px;
		line-height: 38px;
		background-color: #1e90e5;
		color: #fff;
		border-radius: 6px;
}

.btn-id + .desc {
		margin-left: 6px;
}

.btn-userAdd,
.btn-userRemove {
		width: 100px;
		height: 40px;
		border: 1px solid #1e90e5;
		border-radius: 5px;
		background-color: #fff;
}

.btn-userAdd span,
.btn-userRemove span {
		position: relative;
		padding-left: 24px;
		font-size: 16px;
		line-height: 30px;
		color: #1e90e5;
}

.btn-userAdd span::after,
.btn-userRemove span::after {
		content: "";
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		width: 17px;
		height: 17px;
		margin-top: -8.5px;
		background-image: url("../images/bg/bg_user_add.png");
		background-repeat: no-repeat;
		background-position: center;
}

.btn-userRemove {
		border-color: #a4a4a4;
}

.btn-userRemove span {
		color: #585858;
}

.btn-userRemove span::after {
		background-image: url("../images/bg/bg_user_remove.png");
		background-repeat: no-repeat;
		background-position: center;
}

.btn-userRemove + .btn-userAdd {
		margin-left: 4px;
}

.calendar-set {
		max-width: 320px;
}

.calendar-set::after {
		content: "";
		display: block;
		clear: both;
}

.calendar-set .calendar {
		float: left;
		width: calc(50% - 10px);
}

.calendar-set .calendar + .calendar {
		position: relative;
		margin-left: 20px;
}

.calendar-set .calendar + .calendar::after {
		display: block;
		position: absolute;
		left: -13px;
		top: 50%;
		content: "";
		width: 6px;
		height: 1px;
		margin-top: -0.5px;
		background-color: #8f9293;
}

.calendar {
		height: 40px;
		background-color: #fff;
		border: 1px solid #edeff0;
		border-radius: 6px;
}

.calendar input {
		width: 100%;
		height: 100%;
		padding: 0 26px 0 16px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		color: #222;
		text-align: left;
		background-image: url("../images/icon/icon_calendar.png");
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		background-position: right 10px center;
}

.search-set {
		position: relative;
		max-width: 390px;
		height: 40px;
		padding-right: 40px;
}

.search-set input {
		border-radius: 4px 0 0 4px;
}

.search-set > button {
		position: absolute;
		right: 0;
		top: 0;
		width: 40px;
		height: 40px;
		background-color: #1e90e5;
		border-radius: 0 2px 2px 0;
		box-shadow: 1px 1px 3px #e0e4e7;
		background-image: url("../images/bg/bg_search.png");
		background-repeat: no-repeat;
		background-position: center;
}

.search-set.service {
		max-width: 100%;
		padding-right: 160px;
}

.search-set.service > input {
		border-radius: 4px;
}

.search-set.service > button {
		width: auto;
		padding: 0 32px 0 48px;
		border-radius: 4px;
		font-size: 14px;
		color: #fff;
		font-weight: 700;
		background-position: 22px center;
		background-size: 13px 14px;
}

.select-cycle::after {
		content: "";
		display: block;
		clear: both;
}

.select-cycle .cycle-check {
		float: left;
}

.select-cycle .cycle-check:last-child label {
		border-radius: 0 2px 2px 0;
}

.select-cycle .cycle-check:first-child label {
		border-radius: 2px 0 0 2px;
}

.cycle-check {
		display: inline-block;
		position: relative;
		height: 40px;
		width: 60px;
}

.cycle-check input {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
}

.cycle-check input:checked + label {
		border-color: #1e90e5;
}

.cycle-check label {
		width: 100%;
		height: 100%;
		font-size: 15px;
		line-height: 38px;
		text-align: center;
		color: #555;
		border: 1px solid #dddfe1;
		background-color: #fff;
}

.round-check {
		display: inline-block;
		position: relative;
}

.round-check input[type="radio"],
.round-check input[type="checkbox"] {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;
}

.round-check input[type="radio"]:checked + label span,
.round-check input[type="checkbox"]:checked + label span {
		background-image: url("../images/bg/btn_round_on.png");
		background-repeat: no-repeat;
		background-position: center;
}

.round-check label {
		padding-left: 30px;
		font-size: 14px;
		line-height: 20px;
}

.round-check label span {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background-image: url("../images/bg/btn_round_off.png");
		background-repeat: no-repeat;
		background-position: center;
}

.round-check.only {
		width: 20px;
		height: 20px;
}

.round-check.only label {
		padding-left: 0;
}

.round-check + .round-check {
		margin-left: 6px;
}

.square-check {
		display: inline-block;
		position: relative;
}

.square-check input[type="radio"],
.square-check input[type="checkbox"] {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		z-index: 2;
}

.square-check input[type="radio"]:checked + label span,
.square-check input[type="checkbox"]:checked + label span {
		background-image: url("../images/bg/btn_square_on.png");
		background-repeat: no-repeat;
		background-position: center;
}

.square-check label {
		padding-left: 30px;
		font-size: 14px;
		line-height: 20px;
}

.square-check label span {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 20px;
		height: 20px;
		margin-top: -10px;
		background-image: url("../images/bg/btn_square_off.png");
		background-repeat: no-repeat;
		background-position: center;
}

.square-check.only {
		width: 20px;
		height: 20px;
}

.square-check.only label {
		padding-left: 0;
}

.square-check + .round-check {
		margin-left: 6px;
}

.wrapper {
		position: relative;
		height: 100vh;
		width: 100%;
		min-width: 1360px;
}

.gnb {
		position: fixed;
		left: 0;
		top: 0;
		width: 226px;
		height: 100%;
		background-color: #fff;
		border-right: 1px solid #edeff0;
		transition: all 0.5s ease-in-out;
		z-index: 20;
		overflow: hidden;
}

.gnb.active {
		width: 66px;
}

.gnb.active .logo .on {
		display: none;
}

.gnb.active .menu {
		padding-left: 65px;
}

.gnb.active .menu .menu-btn {
		left: 24px;
}

.gnb.active .menu-list li a {
		padding-left: 66px;
		background-position: 22px center;
}

.gnb.active .menu-list li.active a {
		background-position: 22px center;
}

.gnb .menu {
		position: relative;
		padding-left: 32px;
}

.gnb .menu .menu-btn {
		position: absolute;
		left: 14px;
		top: 50%;
		width: 19px;
		height: 16px;
		margin-top: -8px;
		background-image: url("../images/bg/bg_menu.png");
		background-repeat: no-repeat;
		background-position: center;
}

.gnb .logo {
		display: block;
		height: 60px;
		line-height: 60px;
		text-align: center;
		position: relative;
}

.gnb .logo a {
		display: inline-block;
		width: 100%;
		line-height: 60px;
}

.gnb .logo img {
		vertical-align: middle;
}

.gnb .logo .on {
		display: inline-block;
}

.dashboard {
		position: relative;
		float: right;
		width: calc(100% - 226px);
		min-height: 100%;
		min-width: 1134px;
		padding: 60px 20px 100px;
		transition: all 0.5s ease-in-out;
		background-color: #f6fbfe;
}

.dashboard.active {
		width: calc(100% - 66px);
}

.top_menu {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 60px;
		line-height: 60px;
		padding: 0 20px;
		background-color: #fff;
		border-bottom: 1px solid #edeff0;
}

.top_menu .toggle {
		width: 9px;
		height: 16px;
		background-image: url("../images/arrow/arrow_left.png");
		background-repeat: no-repeat;
		background-position: center;
		text-indent: -999999px;
		overflow: hidden;
}

.top_menu .toggle.active {
		transform: rotate(180deg);
}

.top_menu::after {
		display: block;
		clear: both;
		content: "";
}

.user-util {
		float: right;
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -16px;
}

.user-util .user {
		display: block;
		position: relative;
		padding-left: 40px;
		padding-right: 20px;
}

.user-util .user::after {
		transition: all 0.5s;
		content: "";
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -2.5px;
		border-bottom: 5px solid none;
		border-top: 5px solid #222;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
}

.user-util .user .pic {
		position: absolute;
		left: 0;
		top: 50%;
		height: 31px;
		margin-top: -15.5px;
}

.user-util .user .group {
		margin-bottom: 4px;
		color: #333;
		opacity: 0.8;
		font-size: 12px;
		line-height: 14px;
}

.user-util .user .name {
		color: #333;
		font-size: 12px;
		line-height: 14px;
		font-weight: 700;
}

.user-util.active .user::after {
		transform: rotate(180deg);
}

.user-util.active .link-list {
		display: block;
		z-index: 10;
}

.menu-list {
		width: 226px;
		padding-top: 16px;
}

.menu-list > li a.service {
		background-image: url("../images/icon/icon_menu_service_off.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li.active a.service {
		background-image: url("../images/icon/icon_menu_service_on.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li a.study {
		background-image: url("../images/icon/icon_menu_study_off.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li.active a.study {
		background-image: url("../images/icon/icon_menu_study_on.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li a.data {
		background-image: url("../images/icon/icon_menu_data_off.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li.active a.data {
		background-image: url("../images/icon/icon_menu_data_on.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li a.user {
		background-image: url("../images/icon/icon_menu_user_off.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li.active a.user {
		background-image: url("../images/icon/icon_menu_user_on.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li a.infra {
		background-image: url("../images/icon/icon_menu_infra_off.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li.active a.infra {
		background-image: url("../images/icon/icon_menu_infra_on.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: 26px center;
}

.menu-list > li {
		min-height: 50px;
}

.menu-list > li > a {
		display: block;
		padding-left: 60px;
		font-size: 16px;
		line-height: 48px;
		color: #545658;
}

.menu-list > li > a:hover {
		background-color: #f6f8fa;
		box-shadow: 1px 1px 3px #e8e8e8;
}

.menu-list > li.active {
		border-bottom: 1px solid #f1f1f1;
}

.menu-list > li.active ul {
		display: block;
}

.menu-list > li.active > a {
		background-color: #1e90e5;
		color: #fff;
}

.content {
		height: 100%;
		padding-top: 20px;
		background-color: #f6fbfe;
}

.content p.title {
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 22px;
		color: #222;
		font-weight: 700;
}

.content p.title strong {
		display: inline-block;
		position: relative;
		padding-left: 28px;
}

.content p.title.service strong {
		background-image: url("../images/bg/bg_title_service.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.content p.title.study strong {
		background-image: url("../images/bg/bg_title_study.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.content p.title.data strong {
		background-image: url("../images/bg/bg_title_data.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.content p.title.user strong {
		background-image: url("../images/bg/bg_title_user.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.content p.title.infra strong {
		background-image: url("../images/bg/bg_title_infra.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.content.sign {
		position: relative;
		min-height: calc(100% - 100px);
		height: auto;
		padding-bottom: 176px;
		background-color: #fbfbfb;
}

.login {
		min-height: 720px;
		background-image: url("../images/bg/bg_login_bottom.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: center bottom;
}

.login .logo {
		position: absolute;
		left: 50px;
		top: 50px;
		z-index: 10;
}

.login .title {
		position: relative;
		padding: 166px 0 192px;
		margin-bottom: 35px;
		text-align: center;
		background-image: url("../images/bg/bg_test.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: center bottom;
}

.login input {
		width: 100%;
		height: 52px;
		padding-left: 44px;
		border: 1px solid #e1e1e1;
		border-radius: 5px;
		text-align: left;
		font-size: 16px;
		background-color: #fff;
		line-height: 40px;
		cursor: text;
		box-shadow: 1px 1px 1px #e8e8e8;
}

.login input::placeholder {
		color: #a9a9a9;
}

.login .login_form {
		position: relative;
		width: 100%;
		max-width: 542px;
		padding-right: 122px;
		margin: 0 auto;
}

.login .login_form input.id {
		margin-bottom: 16px;
		background-image: url("../images/icon/icon_user.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: left 20px center;
}

.login .login_form input.password {
		background-image: url("../images/icon/icon_pasword.png");
		background-repeat: no-repeat;
		background-position: center;
		background-position: left 20px center;
}

.login .login_form .btn_login {
		position: absolute;
		right: 0;
		top: 0;
		width: 110px;
		height: 120px;
		background-color: #1e90e5;
		border-radius: 8px;
		color: #fff;
		font-size: 18px;
		line-height: 120px;
		font-weight: 800;
		box-shadow: 1px 1px 1px #e8e8e8;
}

.login .login_form .links {
		display: flex;
		margin-top: 16px;
}

.login .login_form .links li {
		color: #1e90e5;
		position: relative;
}

.login .login_form .links li + li {
		margin-left: 12px;
		padding-left: 12px;
}

.login .login_form .links li + li::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 1px;
		height: 100%;
		background-color: #1e90e5;
}

.var_wrap {
		display: flex;
		justify-content: center;
		position: absolute;
		width: 100%;
		left: 0;
		align-items: flex-end;
		bottom: 0;
}

.var_wrap li {
		width: 4px;
		height: 0;
		background-color: #d7ebfa;
		transition: height 0.6s ease-out;
}

.var_wrap li + li {
		margin-left: 7px;
}

.capy_txt {
		position: absolute;
		left: 0;
		bottom: 22px;
		width: 100%;
		text-align: center;
		color: #898989;
}

.capy_txt span {
		margin: 0 4px;
		color: #1e90e5;
		font-weight: 700;
}

.table-utils {
		position: relative;
		min-height: 40px;
		margin-bottom: 10px;
}

.table-utils::after {
		display: block;
		clear: both;
		content: "";
}

.table-utils .table-current {
		position: absolute;
		left: 0;
		bottom: 0;
		font-size: 14px;
		line-height: 16px;
		color: #000;
}

.table-utils .table-current strong {
		font-weight: 700;
}

.table-utils .left {
		position: relative;
		float: left;
}

.table-utils .left .select {
		position: absolute;
		left: 0;
		top: 0;
		width: 150px;
}

.table-utils .left .sub-tit {
		margin-bottom: 0;
		line-height: 40px;
}

.table-utils .right {
		position: relative;
		float: right;
		padding-right: 160px;
}

.table-utils .right .table-current {
		position: static;
		padding-top: 20px;
}

.table-utils .right .select {
		position: absolute;
		right: 0;
		top: 0;
		width: 150px;
}

.table-wrap + .btn_center {
		margin-top: 20px;
}

table {
		width: 100%;
		background-color: #fff;
}

table thead tr th {
		font-size: 14px;
		line-height: 16px;
		color: #444;
		font-weight: 700;
		vertical-align: middle;
		border-bottom: 1px solid #f2f4f4;
}

table tbody tr td,
table tbody tr th {
		font-size: 14px;
		line-height: 16px;
		color: #333;
		vertical-align: middle;
		text-align: center;
		border-top: 1px solid #f2f4f4;
		word-break: break-all;
}

table tbody tr td.text-left,
table tbody tr th.text-left {
		text-align: left;
}

table tbody tr td.info,
table tbody tr th.info {
		padding: 10px;
}

table tbody tr td .desc,
table tbody tr th .desc {
		font-size: 14px;
		line-height: 40px;
		color: #666;
}

table tbody tr:first-child td {
		border-top: none;
}

table tbody tr:last-child td {
		border-bottom: 1px solid #f2f4f4;
}

table.directory {
		display: none;
}

table.directory.active {
		display: table;
}

table.type1 {
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 1px 1px 3px #e0e4e7;
}

table.type1 thead tr th {
		height: 40px;
}

table.type1 tbody tr {
		border-left: 3px solid transparent;
}

table.type1 tbody tr:hover {
		border-color: #1e90e5;
}

table.type1 tbody tr td {
		height: 40px;
}

table.type1 tbody tr:first-child td {
		border-top: none;
}

table.type1.sound tr:hover {
		border-color: transparent;
}

table.type1.sound tr:hover td {
		background-color: #e8f4fc;
}

table.type2, table.type3 {
		border-top: 3px solid #1e90e5;
}

table.type2 tr th, table.type3 tr th {
		padding-left: 24px;
		background-color: #fafafa;
}

table.type2 tr td, table.type3 tr td {
		padding: 0 10px;
}

table.type2 tr td, table.type3 tr td, table.type2 tr th, table.type3 tr th {
		height: 50px;
		text-align: left;
}

table.type2 tr:last-child th, table.type3 tr:last-child th {
		border-bottom: 1px solid #f2f4f4;
}

table.type2 tr.txt-top th, table.type3 tr.txt-top th {
		padding-top: 20px;
		vertical-align: text-top;
}

table.type2.service tr.folder-line td, table.service.type3 tr.folder-line td {
		border-top: 1px solid #edeff0;
}

table.type2.service tr.folder-line td strong, table.service.type3 tr.folder-line td strong {
		color: #222222;
		font-weight: 700;
}

table.type2.service tr td, table.service.type3 tr td {
		border: none;
}

table.type2.service tr td.license input, table.service.type3 tr td.license input {
		width: 190px;
}

table.type2.service tr td.license span, table.service.type3 tr td.license span {
		margin-left: 6px;
}

table.type2.service tr td:nth-child(3), table.service.type3 tr td:nth-child(3) {
		background-color: #fbfcfc;
}

table.type2.service + h2, table.service.type3 + h2 {
		position: relative;
		margin-top: 20px;
}

table.type2.service + h2 button, table.service.type3 + h2 button {
		position: absolute;
		right: 20px;
		top: 50%;
		width: 13px;
		height: 13px;
		margin-top: -6.5px;
		border-top: 2px solid #5c5c5c;
		border-left: 2px solid #5c5c5c;
		transform: rotate(-135deg);
}

table.type2.service + h2 button.active, table.service.type3 + h2 button.active {
		transform: rotate(45deg);
}

table.type3 tr th {
		padding: 0 10px;
}

table.type3 tr td,
table.type3 tr th {
		text-align: center;
}

.paging {
		margin-top: 10px;
}

.paging a {
		display: block;
		float: left;
		width: 30px;
		height: 30px;
		font-size: 14px;
		line-height: 28px;
		text-align: center;
		border: 1px solid #edeff0;
		background-color: #fff;
		color: #333;
		border-radius: 5px;
		box-shadow: 1px 1px 1px #e8e8e8;
}

.paging a.first {
		background-image: url("../images/arrow/arrow_first.png");
		background-repeat: no-repeat;
		background-position: center;
}

.paging a.prev {
		background-image: url("../images/arrow/arrow_prev.png");
		background-repeat: no-repeat;
		background-position: center;
}

.paging a.next {
		background-image: url("../images/arrow/arrow_next.png");
		background-repeat: no-repeat;
		background-position: center;
}

.paging a.last {
		background-image: url("../images/arrow/arrow_last.png");
		background-repeat: no-repeat;
		background-position: center;
}

.paging a.active {
		color: #fff;
		background-color: #1e90e5;
}

.paging a + a {
		margin-left: 4px;
}

.paging .num {
		float: left;
		margin: 0 10px;
}

.paging .num a:not(.active):hover {
		background-color: #e1e4e6;
}

.paging::after {
		display: block;
		clear: both;
		content: "";
}

.favorites {
		display: none;
		position: fixed;
		left: 14px;
		top: 58px;
		width: 232px;
		max-height: 400px;
		overflow-x: auto;
		background-color: #fff;
		z-index: 10;
		box-shadow: 1px 1px 3px #e4e8eb;
}

.favorites li {
		height: 40px;
}

.favorites li a {
		display: block;
		padding-left: 40px;
		font-size: 14px;
		line-height: 38px;
		color: #666;
		background-image: url("../images/icon/icon_star.png");
		background-repeat: no-repeat;
		background-position: left 18px center;
}

.favorites li a:hover:not(.active) {
		background-color: #e8f4fc;
		background-image: url("../images/icon/icon_star_on.png");
		background-repeat: no-repeat;
		background-position: left 18px center;
}

.favorites li a.active {
		border-bottom: 1px solid #e5e5e5;
		background-image: url("../images/icon/icon_star_on.png");
		background-repeat: no-repeat;
		background-position: left 18px center;
}

.favorites.active {
		display: block;
}

.link-list {
		display: none;
		position: absolute;
		left: -77px;
		top: 46px;
		width: 234px;
		box-shadow: 1px 1px 3px #e4e8eb;
}

.link-list li a {
		display: block;
		padding-left: 74px;
		font-size: 14px;
		line-height: 50px;
		color: #666;
		background-color: #fff;
		border-bottom: 1px solid #fff;
}

.link-list li a:hover {
		background-color: #e8f4fc;
		border-bottom: 1px solid #d0dbe2;
}

.link-list li a.my {
		background-image: url("../images/icon/icon_s_user_off.png");
		background-repeat: no-repeat;
		background-position: left 32px center;
}

.link-list li a.logout {
		background-image: url("../images/icon/icon_s_setting_off.png");
		background-repeat: no-repeat;
		background-position: left 32px center;
}

.search-date::after {
		content: "";
		display: block;
		clear: both;
}

.search-date + .table-utils {
		margin-top: 20px;
}

.search-date .calendar-set,
.search-date .search-set,
.search-date .select,
.search-date .select-cycle {
		float: left;
}

.search-date .select-cycle {
		margin: 0 10px;
}

.search-date .select {
		max-width: 150px;
		margin-right: 10px;
}

.search-date .search-set {
		width: calc(100% - 800px);
}

.ui-datepicker {
		display: none;
		width: 250px;
		padding: 20px;
		background-color: #fff;
		z-index: 111 !important;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 1px 1px 1px #e8e8e8;
}

.ui-datepicker .ui-datepicker-header {
		position: relative;
		text-align: center;
		margin-bottom: 10px;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
		cursor: pointer;
		position: absolute;
		left: 14px;
		top: 50%;
		width: 6px;
		height: 10px;
		margin-top: -5px;
		color: transparent;
		background-image: url("../images/arrow/arrow_prev.png");
		background-position: center;
		background-repeat: no-repeat;
		font-size: 0;
}

.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: 6px;
		height: 10px;
		margin-top: -5px;
		color: transparent;
		right: 14px;
		background-image: url("../images/arrow/arrow_next.png");
		background-position: center;
		background-repeat: no-repeat;
		font-size: 0;
}

.ui-datepicker .ui-datepicker-calendar {
		width: 100%;
		text-align: center;
}

.ui-datepicker .ui-datepicker-calendar th {
		border: none;
}

.ui-datepicker .ui-datepicker-calendar th span {
		display: inline-block;
		margin-bottom: 6px;
		font-size: 12px;
		color: #999;
}

.ui-datepicker .ui-datepicker-calendar td {
		border: none;
}

.ui-datepicker .ui-datepicker-calendar td a {
		display: inline-block;
		width: 20px;
		height: 20px;
		font-size: 12px;
		line-height: 20px;
		color: #666;
}

.ui-datepicker .ui-datepicker-calendar td a:hover {
		background-color: #1e90e5;
		border-radius: 15px;
		color: #fff;
}

.ui-datepicker .ui-datepicker-calendar td span {
		font-size: 12px;
		line-height: 14px;
		color: #eee;
}

.pop {
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 20;
}

.pop .layout-pop {
		width: 100%;
		max-width: 1020px;
		max-height: 900px;
		margin: 0 auto;
		padding: 20px;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 1px 1px 1px #e8e8e8;
		overflow-x: auto;
}

.pop .layout-pop h2 {
		margin-bottom: 10px;
		font-size: 16px;
		line-height: 18px;
		font-weight: 700;
		color: #222;
}

.pop .layout-pop .txt_info {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: 8px;
}

.pop .layout-pop .table_wrap {
		max-height: 252px;
		overflow-x: auto;
}

.pop .layout-pop .btn_center {
		margin-top: 20px;
}

.pop .layout-pop.type01 {
		max-width: 538px;
}

.pop .layout-pop.type01 table td,
.pop .layout-pop.type01 table th {
		border-left: 1px solid #f2f4f4;
}

.pop .layout-pop.type01 table td:first-child,
.pop .layout-pop.type01 table th:first-child {
		border-left: none;
}

.pop .layout-pop.type02 {
		max-width: 1300px;
}

.pop .layout-pop.type03 {
		max-width: 730px;
}

.pop.active {
		display: flex;
}

.pop .search-set {
		max-width: 100%;
		height: auto;
		margin-bottom: 10px;
}

.pop .search-set button {
		top: auto;
		bottom: 0;
}

.alert {
		width: 340px;
		padding: 0 0 20px;
		background-color: #fff;
		border-radius: 5px;
		text-align: center;
		overflow: hidden;
		box-shadow: 2px 1px 4px #5d5d5d;
}

.alert .title {
		display: block;
		padding: 11px 0;
		margin-bottom: 13px;
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		background-color: #1e90e5;
}

.alert p {
		font-size: 14px;
		line-height: 16px;
		color: #464a53;
		padding-top: 22px;
		margin-bottom: 34px;
}

.round_service {
		display: inline-block;
		width: 25px;
		height: 25px;
		background-color: #1e90e5;
		color: #fff;
		font-size: 14px;
		line-height: 23px;
		text-align: center;
		border-radius: 50px;
}

.num-set {
		float: left;
		width: 100%;
		max-width: 380px;
}

.num-set input[type="text"].input,
.num-set input[type="password"].input {
		float: left;
		width: calc(33% - 10px);
		margin-right: 0;
}

.num-set span {
		display: inline-block;
		float: left;
		width: 16px;
		line-height: 40px;
		color: #949494;
		text-align: center;
}

.num-set::after {
		content: "";
		display: block;
		clear: both;
}

label.star {
		position: relative;
		padding-left: 10px;
}

label.star span.star {
		display: inline-block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -8px;
		font-size: 14px;
		color: #1e90e5;
}

.model-pos {
		position: relative;
		padding-right: 30px;
}

.model-pos button {
		position: absolute;
		right: 0;
		top: 50%;
		width: 19px;
		height: 19px;
		margin-top: -8.5px;
		background-image: url("../images/bg/bg_model.png");
		background-repeat: no-repeat;
		background-position: center;
}

.header {
		position: relative;
		height: 100px;
		background-color: #1e90e5;
}

.header .logo {
		display: inline-block;
		position: absolute;
		left: 30px;
		top: 50%;
		margin-top: -27px;
}

.header .title {
		font-size: 24px;
		line-height: 100px;
		font-weight: 700;
		text-align: center;
		color: #fff;
}

.header + .sign {
		padding-top: 40px;
}

.step {
		padding-bottom: 36px;
}

.step .list {
		display: flex;
		justify-content: center;
}

.step .list li {
		position: relative;
		width: 120px;
		padding-top: 76px;
		margin-left: 330px;
		text-align: center;
}

.step .list li:nth-child(1) {
		background-image: url("../images/icon/icon_step1_off.png");
		background-repeat: no-repeat;
		background-position: center top;
		font-size: 16px;
		line-height: 20px;
		color: #999;
}

.step .list li.active:nth-child(1) {
		color: #1e90e5;
		font-weight: 700;
		background-image: url("../images/icon/icon_step1_on.png");
		background-repeat: no-repeat;
		background-position: center top;
}

.step .list li.active:nth-child(1) + .active::after {
		background: linear-gradient(to right, #1e90e5, #1e90e5);
}

.step .list li.active:nth-child(1) + li::after {
		background: linear-gradient(to right, #1e90e5, #f2f5f7);
}

.step .list li:first-child {
		margin-left: 0;
}

.step .list li:first-child:after {
		display: none;
}

.step .list li:after {
		position: absolute;
		display: block;
		content: "";
		top: 32px;
		left: -359px;
		width: 388px;
		height: 2px;
		background-color: #f6f7f8;
}

.step .list li {
		position: relative;
		width: 120px;
		padding-top: 76px;
		margin-left: 330px;
		text-align: center;
}

.step .list li:nth-child(2) {
		background-image: url("../images/icon/icon_step2_off.png");
		background-repeat: no-repeat;
		background-position: center top;
		font-size: 16px;
		line-height: 20px;
		color: #999;
}

.step .list li.active:nth-child(2) {
		color: #1e90e5;
		font-weight: 700;
		background-image: url("../images/icon/icon_step2_on.png");
		background-repeat: no-repeat;
		background-position: center top;
}

.step .list li.active:nth-child(2) + .active::after {
		background: linear-gradient(to right, #1e90e5, #1e90e5);
}

.step .list li.active:nth-child(2) + li::after {
		background: linear-gradient(to right, #1e90e5, #f2f5f7);
}

.step .list li:first-child {
		margin-left: 0;
}

.step .list li:first-child:after {
		display: none;
}

.step .list li:after {
		position: absolute;
		display: block;
		content: "";
		top: 32px;
		left: -359px;
		width: 388px;
		height: 2px;
		background-color: #f6f7f8;
}

.step .list li {
		position: relative;
		width: 120px;
		padding-top: 76px;
		margin-left: 330px;
		text-align: center;
}

.step .list li:nth-child(3) {
		background-image: url("../images/icon/icon_step3_off.png");
		background-repeat: no-repeat;
		background-position: center top;
		font-size: 16px;
		line-height: 20px;
		color: #999;
}

.step .list li.active:nth-child(3) {
		color: #1e90e5;
		font-weight: 700;
		background-image: url("../images/icon/icon_step3_on.png");
		background-repeat: no-repeat;
		background-position: center top;
}

.step .list li.active:nth-child(3) + .active::after {
		background: linear-gradient(to right, #1e90e5, #1e90e5);
}

.step .list li.active:nth-child(3) + li::after {
		background: linear-gradient(to right, #1e90e5, #f2f5f7);
}

.step .list li:first-child {
		margin-left: 0;
}

.step .list li:first-child:after {
		display: none;
}

.step .list li:after {
		position: absolute;
		display: block;
		content: "";
		top: 32px;
		left: -359px;
		width: 388px;
		height: 2px;
		background-color: #f6f7f8;
}

.white_board {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		padding: 30px 25px;
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 1px 1px 1px #e8e8e8;
}

.white_board .title {
		padding-bottom: 10px;
		font-size: 18px;
		line-height: 20px;
		color: #222;
		font-weight: 700;
}

.white_board .title + .input_form {
		margin-bottom: 0;
}

.white_board + .white_board {
		margin-top: 30px;
}

.white_board + .btn_center {
		margin-top: 20px;
}

.agree_section .tit {
		margin-bottom: 14px;
		font-size: 18px;
		line-height: 20px;
}

.agree_section .tit strong {
		margin-right: 6px;
		color: #1e90e5;
}

.agree_section .textarea {
		height: 280px;
		margin-bottom: 14px;
		padding: 20px;
		border: 1px solid #dadada;
		white-space: pre-line;
		font-size: 14px;
		line-height: 18px;
		overflow-x: auto;
}

.agree_section .textarea strong {
		font-size: 16px;
		font-weight: 700;
		color: #222;
}

.agree_section + .agree_section {
		margin-top: 30px;
}

.sign_form table.type2 tr th, .sign_form table.type3 tr th {
		padding-left: 26px;
}

.sign_form table.type2 tr td, .sign_form table.type3 tr td, .sign_form table.type2 tr th, .sign_form table.type3 tr th {
		height: 70px;
}

.sign_form table.type2 tr td input, .sign_form table.type3 tr td input,
.sign_form table.type2 tr th input,
.sign_form table.type3 tr th input {
		max-width: 380px;
}

.sign_form table.type2 tr td .select, .sign_form table.type3 tr td .select,
.sign_form table.type2 tr th .select,
.sign_form table.type3 tr th .select {
		max-width: 380px;
}

.sign_form table.type2 tr td .desc, .sign_form table.type3 tr td .desc,
.sign_form table.type2 tr th .desc,
.sign_form table.type3 tr th .desc {
		margin-left: 6px;
		font-size: 14px;
		line-height: 40px;
		color: #666;
}

.sign_form table.type2 tr td .btn-id, .sign_form table.type3 tr td .btn-id,
.sign_form table.type2 tr th .btn-id,
.sign_form table.type3 tr th .btn-id {
		margin-left: 6px;
}

.complete_box {
		text-align: center;
}

.complete_box p {
		padding-top: 72px;
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 22px;
		font-weight: 700;
		color: #444;
		background-image: url("../images/bg/bg_complete_check.png");
		background-repeat: no-repeat;
		background-position: center top;
}

.sorting {
		position: relative;
		display: inline-block;
		padding-right: 16px;
		cursor: pointer;
}

.sorting::after {
		display: block;
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -2.5px;
		border-top: 5px solid none;
		border-bottom: 5px solid #333;
		border-right: 5px solid transparent;
		border-left: 5px solid transparent;
		content: "";
		transform: rotate(180deg);
}

.sorting.active::after {
		transform: rotate(0);
}

.model-message {
		display: inline-block;
		padding: 11px 14px;
		margin-bottom: 10px;
		border: 1px dashed #1e90e5;
		border-radius: 6px;
		font-size: 14px;
		line-height: 16px;
}

.model-message strong {
		margin-right: 16px;
		color: #1e90e5;
}

.id_find,
.password_find {
		width: 100%;
		max-width: 790px;
		margin: 0 auto;
		padding-top: 30px;
}

.id_find dl,
.password_find dl {
		position: relative;
		width: 100%;
		max-width: 442px;
		padding-left: 64px;
		margin-bottom: 24px;
}

.id_find dl dt,
.password_find dl dt {
		position: absolute;
		left: 0;
		top: 0;
		font-size: 14px;
		line-height: 40px;
		color: #222;
}

.id_find dl dt label,
.password_find dl dt label {
		font-weight: 700;
}

.id_find .btn_center,
.password_find .btn_center {
		margin-top: 20px;
}

.password_find dl {
		margin: 0 auto;
}

.password_find dl + dl {
		margin-top: 20px;
}

.serach_box::after {
		display: block;
		clear: both;
		content: "";
}

.serach_box .tit {
		margin-bottom: 14px;
		font-size: 14px;
		line-height: 16px;
		color: #222;
		font-weight: 700;
}

.serach_box .box {
		float: left;
		width: calc(50% - 15px);
		padding: 30px 26px;
		border: 1px solid #dddfe1;
		border-radius: 8px;
}

.serach_box .box + .box {
		margin-left: 30px;
}

.serach_box .box p {
		padding-top: 80px;
		margin-bottom: 26px;
		font-size: 18px;
		line-height: 20px;
		color: #222;
		text-align: center;
}

.serach_box .box p.email {
		background-image: url("../images/bg/bg_email.png");
		background-repeat: no-repeat;
		background-position: center top;
}

.serach_box .box p.phon {
		background-image: url("../images/bg/bg_phon.png");
		background-repeat: no-repeat;
		background-position: center top;
}

.serach_box .box p strong {
		font-weight: 700;
}

.result {
		text-align: center;
}

.result .tit {
		width: 100%;
		max-width: 790px;
		margin: 0 auto;
		text-align: left;
}

.result .info {
		padding-top: 80px;
		margin: 44px 0 16px;
		font-size: 14px;
		line-height: 20px;
		color: #444;
		background-image: url("../images/bg/bg_email.png");
		background-repeat: no-repeat;
		background-position: center top;
}

.result .email_select {
		width: 100%;
		max-width: 494px;
		margin: 0 auto;
		padding: 12px 0;
		background-color: #f3f3f3;
		border-radius: 6px;
}

.result .email_select li + li {
		margin-top: 10px;
}

.result .email_select label {
		font-size: 14px;
		line-height: 20px;
}

.result .email_select .date {
		font-size: 14px;
		line-height: 16px;
		color: #666;
}

.result .email_select + .btn_center {
		margin-top: 20px;
}

.txt_left {
		text-align: left;
}

.input_form {
		border-top: 3px solid #1e90e5;
}

.round_bullet {
		position: relative;
		padding-left: 8px;
}

.round_bullet::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 3px;
		height: 3px;
		margin-top: -1.5px;
		background-color: #1e90e5;
}

.service-info {
		position: relative;
		padding: 20px 330px 20px 20px;
		margin-bottom: 20px;
		background-color: #fff;
		box-shadow: 1px 1px 3px #edf2f5;
}

.service-info .search_box {
		position: absolute;
		right: 20px;
		top: 20px;
		width: 290px;
}

.search_box {
		width: 350px;
}

.search_box .calendar-set {
		max-width: 100%;
		margin-bottom: 16px;
}

.info-list::after {
		content: "";
		display: block;
		clear: both;
}

.info-list li {
		position: relative;
		float: left;
		width: calc(20% - 8px);
		padding: 18px 10px;
		text-align: right;
		border: 1px solid #edeff0;
		box-shadow: 1px 1px 3px #edf2f5;
		border-radius: 10px;
}

.info-list li + li {
		margin-left: 10px;
}

.info-list li:first-child {
		margin-left: 0;
}

.info-list li strong {
		font-size: 30px;
		line-height: 32px;
		font-weight: 900;
}

.info-list li p {
		margin-top: 10px;
		font-size: 13px;
		line-height: 16px;
		color: #555;
		letter-spacing: -1px;
}

.info-list li.total_service::after {
		display: block;
		position: absolute;
		left: 12px;
		top: 12px;
		width: 32px;
		height: 32px;
		content: "";
		background-image: url("../images/bg/bg_total_service.png");
		background-repeat: no-repeat;
		background-position: center;
}

.info-list li.total_service strong {
		color: #1d8ff7;
}

.info-list li.total_data::after {
		display: block;
		position: absolute;
		left: 12px;
		top: 12px;
		width: 32px;
		height: 32px;
		content: "";
		background-image: url("../images/bg/bg_total_data.png");
		background-repeat: no-repeat;
		background-position: center;
}

.info-list li.total_data strong {
		color: #00b2ff;
}

.info-list li.total_sound::after {
		display: block;
		position: absolute;
		left: 12px;
		top: 12px;
		width: 32px;
		height: 32px;
		content: "";
		background-image: url("../images/bg/bg_total_sound.png");
		background-repeat: no-repeat;
		background-position: center;
}

.info-list li.total_sound strong {
		color: #fc5b97;
}

.info-list li.sound_madel::after {
		display: block;
		position: absolute;
		left: 12px;
		top: 12px;
		width: 32px;
		height: 32px;
		content: "";
		background-image: url("../images/bg/bg_sound_madel.png");
		background-repeat: no-repeat;
		background-position: center;
}

.info-list li.sound_madel strong {
		color: #fed515;
}

.info-list li.total_model::after {
		display: block;
		position: absolute;
		left: 12px;
		top: 12px;
		width: 32px;
		height: 32px;
		content: "";
		background-image: url("../images/bg/bg_total_model.png");
		background-repeat: no-repeat;
		background-position: center;
}

.info-list li.total_model strong {
		color: #9664c6;
}

.toggle-box {
		position: relative;
		padding: 20px 420px 20px 20px;
		margin-bottom: 20px;
		background-color: #fff;
		box-shadow: 1px 1px 3px #e4e8eb;
		border-radius: 6px;
		transition: padding 0.3s;
}

.toggle-box .search-set.service {
		margin: 30px 0 22px;
}

.toggle-box .search_box {
		position: absolute;
		right: 20px;
		top: 20px;
}

.toggle-box .toggle {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 48px;
		height: 26px;
		margin-left: -24px;
		background-color: #ecf1f4;
		border-radius: 30px 30px 0 0;
		background-image: url("../images/arrow/arrow_toggle.png");
		background-repeat: no-repeat;
		background-position: center;
}

.toggle-box.active {
		padding-top: 1px;
		padding-bottom: 1px;
		margin-bottom: 40px;
}

.toggle-box.active > div {
		display: none;
}

.toggle-box.active .toggle {
		bottom: -26px;
		transform: rotate(180deg);
}

.round-tab {
		margin: 0 auto 20px;
		border: 1px solid #dddfe1;
		border-radius: 50px;
		background-color: #fff;
}

.round-tab button {
		float: left;
		padding: 12px 0;
		font-size: 14px;
		line-height: 16px;
		color: #aaa;
		text-align: center;
		border: 2px solid transparent;
		border-radius: 50px;
}

.round-tab button.active {
		border-color: #1e90e5;
		font-weight: 700;
		color: #1e90e5;
}

.round-tab.tab2 {
		max-width: 480px;
}

.round-tab.tab2 button {
		width: 50%;
}

.round-tab.tab3 {
		max-width: 720px;
}

.round-tab.tab3 button {
		width: 33.33%;
}

.round-tab.tab5 {
		max-width: 1200px;
}

.round-tab.tab5 button {
		width: 20%;
}

.round-tab::after {
		content: "";
		display: block;
		clear: both;
}

.tab_cont {
		display: none;
}

.tab_cont.active {
		display: block;
}

.tab-list {
		margin-bottom: 20px;
		text-align: center;
}

.tab-list button {
		position: relative;
		padding-bottom: 10px;
		font-size: 14px;
		line-height: 16px;
		color: #aaa;
}

.tab-list button + button {
		margin-left: 26px;
}

.tab-list button.active {
		color: #222;
}

.tab-list button.active::after {
		display: block;
		position: absolute;
		left: 50%;
		bottom: 0;
		content: "";
		width: 30px;
		height: 2px;
		margin-left: -15px;
		background-color: #1e90e5;
}

.tab-list-cont {
		display: none;
}

.tab-list-cont.active {
		display: block;
}

.textarea-set p.tit {
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 16px;
		font-weight: 700;
		color: #444;
}

.textarea-set + .textarea-set {
		margin-top: 20px;
}

.sub-tit {
		font-size: 14px;
		line-height: 16px;
		color: #333;
		font-weight: 700;
		margin-bottom: 12px;
}

.sub-tit .tit2 {
		position: relative;
		display: inline-block;
		padding-left: 12px;
		margin-left: 8px;
}

.sub-tit .tit2::after {
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		width: 9px;
		height: 11px;
		margin-top: -5.5px;
		content: "";
		background-image: url("../images/arrow/arrow_right.png");
		background-repeat: no-repeat;
		background-position: center;
}

.file-wrap {
		position: relative;
		width: 100%;
		max-width: 530px;
		padding-right: 110px;
}

.file-wrap .txt {
		color: #222;
		border-radius: 6px 0 0 6px;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
		overflow: hidden;
}

.file-wrap .file {
		position: absolute;
		left: 0;
		top: 0;
		width: 0;
		height: 0;
		opacity: 0;
}

.file-wrap .up-load {
		position: absolute;
		right: 0;
		top: 0;
		width: 120px;
		height: 40px;
		padding-left: 20px;
		color: #fff;
		font-size: 14px;
		line-height: 38px;
		text-align: center;
		border-radius: 2px;
		background-color: #00b1f0;
		background-image: url("../images/btn/btn_add_file.png");
		background-repeat: no-repeat;
		background-position: left 12px center;
		cursor: pointer;
}

.file-wrap.type01 {
		padding-right: 34px;
}

.file-wrap.type01 .up-load {
		top: 50%;
		width: 27px;
		height: 22px;
		margin-top: -11px;
		background-image: url("../images/bg/bg_file_upload.png");
		background-repeat: no-repeat;
		background-position: center;
		background-color: transparent;
}

.file-wrap.type02 {
		padding-right: 250px;
}

.file-wrap.type02 .up-load {
		right: 130px;
}

.file-wrap.type02.active .file-play {
		display: none;
}

.file-wrap.type02.active .file-stop {
		display: block;
}

.play-wrap {
		position: relative;
		width: 100%;
		max-width: 530px;
		min-height: 40px;
		padding-right: 120px;
		display: flex;
		align-items: center;
}

.play-wrap .progress {
		width: 100%;
		max-width: 400px;
}

.play-wrap .file-stop {
		display: none;
}

.play-wrap.active .file-stop {
		display: block;
}

.play-wrap.active .file-play {
		display: none;
}

.row-tabel {
		position: relative;
		width: 100%;
		padding-left: 140px;
}

.row-tabel dt {
		position: absolute;
		left: 0;
		top: 0;
		width: 120px;
		padding-left: 10px;
		font-size: 14px;
		line-height: 40px;
		color: #222;
		font-weight: 700;
		vertical-align: middle;
}

.row-tabel dd {
		font-size: 14px;
		line-height: 40px;
		color: #444;
		min-height: 40px;
}

.row-tabel dd span {
		display: inline-block;
		line-height: 20px;
}

.row-tabel + .row-tabel {
		margin-top: 20px;
}

.row-tabel + .type1 {
		margin-top: 0;
}

.row-tabel.btn4 {
		width: calc(100% - 430px);
}

.row-tabel.rong {
		padding-left: 160px;
}

.row-tabel.rong dt {
		width: 150px;
}

.progress-wrap {
		max-width: 436px;
		position: relative;
		padding: 16px 66px;
		border: 1px solid #dddfe1;
		border-radius: 4px;
}

.progress-wrap button {
		position: absolute;
		top: 50%;
}

.progress-wrap button.right {
		right: 38px;
		width: 24px;
		height: 21px;
		margin-top: -10.5px;
}

.progress-wrap button.left {
		left: 38px;
		width: 23px;
		height: 23px;
		margin-top: -11.5px;
}

.progress-wrap button.start {
		background-image: url("../images/btn/btn_start.png");
		background-repeat: no-repeat;
		background-position: center;
}

.progress-wrap button {
		position: absolute;
		top: 50%;
}

.progress-wrap button.right {
		right: 38px;
		width: 24px;
		height: 21px;
		margin-top: -10.5px;
}

.progress-wrap button.left {
		left: 38px;
		width: 23px;
		height: 23px;
		margin-top: -11.5px;
}

.progress-wrap button.stop {
		background-image: url("../images/btn/btn_stop.png");
		background-repeat: no-repeat;
		background-position: center;
}

.progress-wrap button {
		position: absolute;
		top: 50%;
}

.progress-wrap button.right {
		right: 38px;
		width: 24px;
		height: 21px;
		margin-top: -10.5px;
}

.progress-wrap button.left {
		left: 38px;
		width: 23px;
		height: 23px;
		margin-top: -11.5px;
}

.progress-wrap button.volume {
		background-image: url("../images/btn/btn_volume.png");
		background-repeat: no-repeat;
		background-position: center;
}

.progress-wrap button {
		position: absolute;
		top: 50%;
}

.progress-wrap button.right {
		right: 38px;
		width: 24px;
		height: 21px;
		margin-top: -10.5px;
}

.progress-wrap button.left {
		left: 38px;
		width: 23px;
		height: 23px;
		margin-top: -11.5px;
}

.progress-wrap button.mute {
		background-image: url("../images/btn/btn_mute.png");
		background-repeat: no-repeat;
		background-position: center;
}

.progress-wrap.in-table {
		max-width: 132px;
		margin: 0 auto;
		border: none;
		padding: 0 27px;
}

.progress-wrap.in-table .left {
		left: 0;
}

.progress-wrap.in-table .right {
		right: 0;
}

.progress {
		position: relative;
		height: 7px;
		background-color: #efefef;
		border-radius: 30px;
}

.progress .bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 72%;
		height: 100%;
		border-radius: 30px;
		background-color: #1e90e5;
		transition: all 0.5s;
}

.progress .bg.green {
		background-color: #53dd08;
}

.right-utils {
		position: absolute;
		right: 20px;
		top: 20px;
}

.right-utils .btn-group + .upload-wrap {
		margin-top: 28px;
}

.right-utils .upload-wrap {
		max-width: 254px;
		margin-left: auto;
}

.search_pop {
		display: none;
		position: absolute;
		left: 0;
		top: 60px;
		width: 100%;
		padding: 36px 20px;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 20;
		border-radius: 4px;
}

.search_pop .tit {
		margin-bottom: 16px;
		font-size: 16px;
		line-height: 18px;
		color: #fff;
		text-align: center;
}

.search_pop .search-txt {
		width: 350px;
		display: block;
		padding: 0 20px 6px 30px;
		margin: 0 auto 24px;
		border-bottom: 1px solid #fff;
		border-radius: 0;
		color: #fff;
		text-align: left;
		border-radius: 0;
		background-image: url("../images/bg/bg_search.png");
		background-repeat: no-repeat;
		background-position: left center;
}

.search_pop .search-txt:focus {
		border-color: #fff;
}

.search_pop .table-wrap {
		max-height: 240px;
		overflow-x: auto;
}

.search_pop .star {
		width: 19px;
		height: 18px;
		background-image: url("../images/icon/icon_star.png");
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
}

.search_pop .star:hover {
		background-image: url("../images/icon/icon_star_on.png");
		background-repeat: no-repeat;
		background-position: center;
}

.search_pop .close {
		position: absolute;
		right: 25px;
		top: 25px;
		width: 20px;
		height: 20px;
		background-image: url("../images/btn/btn_close_white.png");
		background-repeat: no-repeat;
		background-position: center;
}

.search_pop.active {
		display: block;
}

.btn-group::after {
		content: "";
		display: block;
		clear: both;
}

button.btn_add {
		float: left;
		width: 80px;
		height: 40px;
		padding-left: 14px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 38px;
		color: #737373;
		font-weight: 700;
		margin-left: 10px;
		border: 1px solid #a4a4a4;
		background: url("../images/btn/btn_util_add.png") no-repeat left 14px center #fff;
}

button.btn_add:hover {
		border-color: #1e90e5;
		color: #1e90e5;
		background-image: url("../images/btn/btn_util_add_on.png");
}

button.btn_add.medium {
		width: 100px;
		background-position: left 10px center;
}

button.btn_add.large {
		width: 110px;
		background-position: left 8px center;
}

button.btn_edit {
		float: left;
		width: 80px;
		height: 40px;
		padding-left: 14px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 38px;
		color: #737373;
		font-weight: 700;
		margin-left: 10px;
		border: 1px solid #a4a4a4;
		background: url("../images/btn/btn_util_edit.png") no-repeat left 14px center #fff;
}

button.btn_edit:hover {
		border-color: #1e90e5;
		color: #1e90e5;
		background-image: url("../images/btn/btn_util_edit_on.png");
}

button.btn_edit.medium {
		width: 100px;
		background-position: left 10px center;
}

button.btn_edit.large {
		width: 110px;
		background-position: left 8px center;
}

button.btn_remove {
		float: left;
		width: 80px;
		height: 40px;
		padding-left: 14px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 38px;
		color: #737373;
		font-weight: 700;
		margin-left: 10px;
		border: 1px solid #a4a4a4;
		background: url("../images/btn/btn_util_remove.png") no-repeat left 14px center #fff;
}

button.btn_remove:hover {
		border-color: #1e90e5;
		color: #1e90e5;
		background-image: url("../images/btn/btn_util_remove_on.png");
}

button.btn_remove.medium {
		width: 100px;
		background-position: left 10px center;
}

button.btn_remove.large {
		width: 110px;
		background-position: left 8px center;
}

button.btn_txtAdd {
		float: left;
		width: 80px;
		height: 40px;
		padding-left: 14px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 38px;
		color: #737373;
		font-weight: 700;
		margin-left: 10px;
		border: 1px solid #a4a4a4;
		background: url("../images/btn/btn_util_txtAdd.png") no-repeat left 14px center #fff;
}

button.btn_txtAdd:hover {
		border-color: #1e90e5;
		color: #1e90e5;
		background-image: url("../images/btn/btn_util_txtAdd_on.png");
}

button.btn_txtAdd.medium {
		width: 100px;
		background-position: left 10px center;
}

button.btn_txtAdd.large {
		width: 110px;
		background-position: left 8px center;
}

button.btn_down {
		float: left;
		width: 80px;
		height: 40px;
		padding-left: 14px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 38px;
		color: #737373;
		font-weight: 700;
		margin-left: 10px;
		border: 1px solid #a4a4a4;
		background: url("../images/btn/btn_util_down.png") no-repeat left 14px center #fff;
}

button.btn_down:hover {
		border-color: #1e90e5;
		color: #1e90e5;
		background-image: url("../images/btn/btn_util_down_on.png");
}

button.btn_down.medium {
		width: 100px;
		background-position: left 10px center;
}

button.btn_down.large {
		width: 110px;
		background-position: left 8px center;
}

button.btn_reset {
		float: left;
		width: 80px;
		height: 40px;
		padding-left: 14px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 38px;
		color: #737373;
		font-weight: 700;
		margin-left: 10px;
		border: 1px solid #a4a4a4;
		background: url("../images/btn/btn_util_reset.png") no-repeat left 14px center #fff;
}

button.btn_reset:hover {
		border-color: #1e90e5;
		color: #1e90e5;
		background-image: url("../images/btn/btn_util_reset_on.png");
}

button.btn_reset.medium {
		width: 100px;
		background-position: left 10px center;
}

button.btn_reset.large {
		width: 110px;
		background-position: left 8px center;
}

button.btn_save2 {
		float: left;
		width: 80px;
		height: 40px;
		padding-left: 14px;
		border-radius: 4px;
		font-size: 14px;
		line-height: 38px;
		color: #737373;
		font-weight: 700;
		margin-left: 10px;
		border: 1px solid #a4a4a4;
		background: url("../images/btn/btn_util_save2.png") no-repeat left 14px center #fff;
}

button.btn_save2:hover {
		border-color: #1e90e5;
		color: #1e90e5;
		background-image: url("../images/btn/btn_util_save2_on.png");
}

button.btn_save2.medium {
		width: 100px;
		background-position: left 10px center;
}

button.btn_save2.large {
		width: 110px;
		background-position: left 8px center;
}

.btn_play {
		width: 24px;
		height: 24px;
		background: url("../images/btn/btn_play2.png") no-repeat center;
}

.btn_play.active {
		background: url("../images/btn/btn_stop2.png") no-repeat center;
}

.upload-wrap {
		position: relative;
		max-width: 200px;
}

.upload-wrap .progress .bg {
		background-color: #00b1f0;
}

.upload-wrap .progress .bg.green {
		background-color: #53dd08;
}

.upload-wrap .txt_condi {
		position: relative;
		padding-right: 30px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 16px;
		color: #464a53;
		font-weight: 700;
}

.upload-wrap .txt_condi strong {
		position: relative;
		display: inline-block;
		padding-right: 30px;
}

.upload-wrap .txt_condi strong button {
		position: absolute;
		right: 0;
		top: 50%;
		width: 23px;
		height: 23px;
		margin-top: -11.5px;
}

.upload-wrap .txt_condi strong button.start {
		background: url("../images/btn/btn_start.png") no-repeat center;
}

.upload-wrap .txt_condi strong button.stop_red {
		background: url("../images/btn/btn_stop_red.png") no-repeat center;
}

.upload-wrap .txt_condi span {
		position: absolute;
		right: 0;
		top: 0;
}

.upload-wrap + .file-wrap {
		margin-top: 10px;
}

.upload-wrap.type1 {
		position: relative;
		max-width: 864px;
		padding-right: 186px;
}

.upload-wrap.type1 .progress {
		height: 12px;
}

.upload-wrap.type1 .txt_condi {
		margin-bottom: 14px;
		font-size: 16px;
}

.upload-wrap.type1 .btn {
		position: absolute;
		right: 0;
		top: 50%;
		margin-top: -20px;
}

.progress-set {
		position: relative;
		max-width: 580px;
		padding-right: 140px;
}

.progress-set .progress-wrap {
		position: absolute;
		right: 0;
		top: 50%;
		width: 134px;
		border: none;
		padding: 0 26px;
		margin-top: -3.5px;
}

.progress-set .progress-wrap .right {
		right: 0;
}

.progress-set .progress-wrap .left {
		left: 0;
}

i.audio {
		display: inline-block;
		width: 21px;
		height: 19px;
		background-image: url("../images/bg/bg_audio_off.png");
		background-repeat: no-repeat;
		background-position: center;
}

i.audio.active {
		background-image: url("../images/bg/bg_audio.png");
}

.winPop-wrap {
		background-color: #f7f7f7;
		min-height: 100vh;
}

.winPop {
		width: 1360px;
		margin: 0 auto;
		border-radius: 20px;
		overflow: hidden;
		box-shadow: 1px 1px 3px #e0e4e7;
}

.winPop .sub-tit {
		padding: 16px 20px;
		margin-bottom: 0;
		background-color: #1e90e5;
		color: #fff;
		border-radius: 20px 20px 0 0;
}

.winPop .table-wrap {
		padding-bottom: 20px;
		border-radius: 0 0 20px 20px;
		background-color: #fff;
}

.winPop .table-wrap table {
		border-radius: 0;
		box-shadow: none;
		overflow: inherit;
}

.winPop .base-box {
		margin-bottom: 0;
		box-shadow: none;
		border-radius: 0;
		border-bottom: 1px solid #f2f4f4;
}

.winPop .base-box + .table-wrap {
		margin-top: 0;
}

.scoll-table {
		max-height: 500px;
		overflow-x: auto;
}

.check_group {
		padding: 5px;
		margin-left: -6px;
		margin-top: -6px;
}

.check_group .round-check {
		margin-left: 6px;
		margin-top: 6px;
}

.data-view {
		display: none;
}

.data-view.active {
		display: block;
}

.file-play {
		position: absolute;
		right: 0;
		top: 0;
		width: 120px;
		height: 40px;
		padding-left: 20px;
		color: #fff;
		font-size: 14px;
		line-height: 38px;
		text-align: center;
		border-radius: 4px;
		background-color: #1e90e5;
		background-image: url("../images/bg/bg_start.png");
		background-repeat: no-repeat;
		background-position: left 12px center;
}

.file-stop {
		position: absolute;
		right: 0;
		top: 0;
		width: 120px;
		height: 40px;
		padding-left: 20px;
		color: #fff;
		font-size: 14px;
		line-height: 38px;
		text-align: center;
		border-radius: 4px;
		background-color: #1e90e5;
		background-image: url("../images/bg/bg_stop.png");
		background-repeat: no-repeat;
		background-position: left 12px center;
		display: none;
}

.process .left {
		float: left;
		width: calc(100% - 350px);
}

.process .right {
		float: right;
		width: 330px;
}

.process .right .title {
		font-size: 14px;
		line-height: 16px;
		color: #222;
		font-weight: 700;
}

.process .text-wrap {
		margin-bottom: 28px;
		text-align: center;
}

.process .text-wrap strong {
		font-size: 18px;
		line-height: 20px;
		color: #222;
}

.process .text-wrap p {
		display: block;
		margin: 12px 0;
		font-size: 30px;
		line-height: 32px;
		font-weight: 900;
		background: -webkit-linear-gradient(90deg, #1e90e5, #55c9f2);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		color: #1e90e5;
}

.process .text-wrap span {
		font-size: 14px;
		line-height: 16px;
		color: #444;
}

.process table tr th {
		height: 42px;
		background-color: #fafafa;
}

.process table tr td {
		height: 40px;
}

.process table tr td span.green {
		color: #71d875;
}

.process table tr td span.red {
		color: #ff0000;
}

.process table tr td span.yellow {
		color: #f9ce08;
}

.process table + table {
		margin-top: 20px;
}

.process .btn-list {
		margin-top: 14px;
}

.process .btn-list::after {
		content: "";
		display: block;
		clear: both;
}

.process .btn-list p {
		position: relative;
		padding-left: 6px;
		margin-bottom: 10px;
		font-size: 14px;
		line-height: 16px;
		color: #222;
}

.process .btn-list p::after {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		content: "";
		width: 2px;
		height: 100%;
		background-color: #1e90e5;
}

.process .btn-list button {
		float: left;
		width: 33.33%;
		padding: 6px 0;
		text-align: center;
		border: 1px solid #dddfe1;
		font-size: 14px;
		line-height: 16px;
}

.process .btn-list button:hover {
		border-color: #1e90e5;
		color: #1e90e5;
}

.process .btn-list button.active {
		border-color: #1e90e5;
		color: #1e90e5;
}

.process .btn-list button:nth-child(2) {
		border-radius: 4px 0 0 4px;
}

.process .btn-list button:nth-child(4) {
		border-radius: 0 4px 4px 0;
}

.process .btn-list button + button {
		border-left: none;
}

.process .btn-list button + button.active, .process .btn-list button + button:hover {
		border-left: 1px solid #1e90e5;
}

.process .server + .server {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px dashed #d4d4d4;
}

.process::after {
		content: "";
		display: block;
		clear: both;
}

.scroll-table {
		position: relative;
		border-radius: 15px;
		overflow: hidden;
		box-shadow: 1px 1px 3px #e0e4e7;
}

.scroll-table .scroll {
		max-height: 200px;
		overflow-y: auto;
}

.scroll-table .cell-wrap::after {
		content: "";
		display: block;
		clear: both;
}

.scroll-table .cell {
		float: left;
		height: 40px;
		text-align: center;
		font-size: 14px;
		line-height: 38px;
		color: #444;
		font-weight: 700;
		vertical-align: middle;
		border-bottom: 1px solid #e8f4fc;
}

.scroll-table .cell.w10 {
		width: 10%;
}

.scroll-table .cell.w80 {
		width: 80%;
}

.scroll-table .cell .round-check {
		vertical-align: middle;
}

.scroll-table .cell.text-left {
		padding: 0 20px;
		text-align: left;
}

.delete {
		width: 12px;
		height: 12px;
		background-image: url("../images/btn/btn_delete.png");
		background-repeat: no-repeat;
		background-position: center;
}

.set-wrap {
		position: relative;
		max-width: 520px;
		padding-right: 120px;
}

.set-wrap .textarea {
		padding: 0 14px;
		min-height: 40px;
		text-overflow: ellipsis;
		white-space: nowrap;
		word-wrap: normal;
		overflow: hidden;
}

.set-wrap .textarea span {
		position: relative;
		display: inline-block;
		margin-right: 30px;
}

.set-wrap .textarea span .delete {
		position: absolute;
		right: -30px;
		top: 50%;
		margin-top: -6px;
}

.set-wrap .btn {
		position: absolute;
		right: 0;
		bottom: 0;
}

/*# sourceMappingURL=style.css.map */